<div class="usage-label stack-handle">
  {{stack.handle}}
</div>

<table class="usage-value stack-usage-value">
  {{#if isContainer}}
    <tr><th>App containers</th></tr>
    {{#each stack.apps as |app|}}
      {{#each app.services as |service|}}
        {{ service-resource-usage handle=app.handle service=service release=service.currentRelease hourlyRate=hourlyRate }}
      {{/each}}
    {{/each}}

    <tr><th>Database containers</th></tr>
    {{#each stack.databases as |database|}}
      {{ service-resource-usage handle=database.handle service=database.service release=database.service.currentRelease hourlyRate=hourlyRate }}
    {{/each}}
  {{/if}}

  {{#if isDisk}}
    {{#each stack.databases as |database|}}
      {{ disk-resource-usage handle=database.handle service=database.service database=database hourlyRate=hourlyRate }}
    {{/each}}
  {{/if}}

  {{#if isDomain}}
    {{#each stack.apps as |app|}}
      {{#each app.vhosts as |vhost|}}
        {{ vhost-resource-usage status=vhost.status handle=vhost.displayHost hourlyRate=hourlyRate }}
      {{/each}}
    {{/each}}
  {{/if}}
</table>
