<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-default panel-subdued">
      <div class="panel-heading">
        Create new database
      </div>
      <div class="panel-body">
        <form role="form">
          {{#unless model.isValid}}
            <div class="alert alert-warning fade in">
              <a class="close" data-dismiss="alert">×</a>
              {{#each model.errors.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
            </div>
          {{/unless}}


          <div class="form-group">
            <label>Database handle</label>
            <span class="label-helper">
              Lowercase alphanumerics, periods, and dashes only
            </span>
          </div>

          <div class="form-group">
            {{input class="database-name form-control sanitize-handler"
                    placeholder="e.g., postgresql-prod"
                    name="handle"
                    value=model.handle
                    }}
          </div>

          <div class="form-group">
            <label>Type</label>

            <div class="select-options-container database-select row">
              {{#db-selector action="selectDbType" as |dbType selectedDbType selectCallback|}}
                {{db-selector-option
                      selectCallback=selectCallback
                      dbType=dbType
                      selectedDbType=selectedDbType}}
              {{/db-selector}}
            </div>
          </div>

          <div class="form-group db-size-component">
            <div class="disk-size-container">
              <label class="disk-size-label">
                Disk Size
              </label>
              <div class="row">
                <div class="col-xs-3">
                  <div class="disk-size-label-container">{{diskSize}} GB</div>
                </div>
                <div class="col-xs-9">
                  <div class="slider-wrapper">
                    {{no-ui-slider didSlide="didSlide"
                                   classNames="disk-size"
                                   start=10 rangeMin=10 rangeMax=200 step=10}}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>

<button {{action 'cancel'}} class="nevermind btn btn-lg-text btn-default pull-left" type='button'>
  Cancel
</button>

<button {{action 'create'}} class="btn btn-sm btn-primary" type='submit'>
  Save Database
</button>
