{{#if hasAccessToPlatform}}
  <li class="{{if opsActive 'active' null}}">
    {{link-to 'Apps and Databases' 'stacks' class="enclave-nav"}}
  </li>
{{/if}}
{{#if hasAccessToCompliance}}
  {{#if showSheriff}}
    <li class="{{if sheriffActive 'active' null}}">
      {{link-to 'Compliance Tools' 'gridiron' class="gridiron-nav"}}
    </li>
  {{else}}
    <li>
      {{#link-to-aptible app="compliance" path=""}}Compliance Tools{{/link-to-aptible}}
    </li>
  {{/if}}
{{/if}}

{{#each currentUser.organizations as |organization|}}
  <li class="{{if settingsActive 'active' null}}">
    {{link-to organization.name 'organization' organization class="organization-nav"}}
  </li>
{{/each}}

