<div class="panel ra-list-item ra-list-item--{{riskAssessment.status}}">
  <header class="ra-list-item__status-header ra-list-item__status-header--{{riskAssessment.status}}">
    <span class="ra-list-item__label">{{riskAssessment.status}}</span>
    <span class="ra-list-item__status ra-list-item__status--{{riskAssessment.status}}">
      {{#if (eq riskAssessment.status 'draft')}}In Process{{else}}Approved{{/if}}
    </span>
  </header>

  <div class="ra-list-item__body">
    <div class="ra-list-item__hgroup">
      <h1 class="ra-list-item__title">V5 Draft</h1>
      <h2 class="ra-list-item__sub-title">Created on {{riskAssessment.created}} by Foo</h2>
    </div>

    <div class="ra-list-item__indexes">
      <img style="height: 14px;" src="/assets/images/risk-assessment-placeholders/risk-indexes-tmp.png">
    </div>
  </div>

  <footer class="ra-list-item__footer">
    <div class="ra-list-item__contributors">
      <h3 class="user-gravatars__title">Contributors</h3>
      <div class="user-gravatars">
        {{user-gravatars users=riskAssessment.contributors size=24 count=5 placeholder='--'}}
      </div>
    </div>
    {{#unless (eq riskAssessment.status 'draft')}}
      <div class="ra-list-item__contributors">
        <h3 class="user-gravatars__title">Approved by</h3>
        <div class="user-gravatars">
          {{user-gravatars users=riskAssessment.approved_by size=24 count=5 placeholder='--'}}
        </div>
      </div>
    {{/unless}}
    <div class="ra-list-item__actions">
      {{#if (eq riskAssessment.status 'draft')}}
        {{link-to 'Resume' 'risk-assessment' riskAssessment classNames="btn btn-primary"}}
      {{else}}
        <button class="btn btn-default">Download PDF</button>
        {{link-to 'View' 'risk-assessment' riskAssessment classNames="btn btn-primary"}}
      {{/if}}
    </div>
  </footer>
</div>
