<div class="panel white-panel ra-list-item ra-list-item--{{riskAssessment.status}}">
  {{risk-assessment-status-header riskAssessment=riskAssessment}}

  <div class="ra-list-item__body">
    <div class="ra-list-item__hgroup">
      <h1 class="ra-list-item__title">
        {{riskAssessment.status}} Risk Assessment
      </h1>
      <h2 class="ra-list-item__sub-title">
        {{riskAssessment.createdByUserName}} created on {{format-date riskAssessment.createdAt}}
      </h2>
    </div>

    <div class="ra-list-item__actions">
      {{#if (eq riskAssessment.status 'draft')}}
        {{link-to 'Resume' 'risk-assessment' riskAssessment.id class="btn btn-primary"}}
      {{else}}
        {{link-to 'Download PDF' 'risk-assessment' riskAssessment.id class="btn btn-default"}}
        {{link-to 'View' 'risk-assessment' riskAssessment.id class="btn btn-primary"}}
      {{/if}}
    </div>
  </div>
</div>
