<div class="row">
  <div class="col-xs-12 sort-group">
    <div class="sort-header">Current Plan</div>

    <div class="panel panel-default resource-usage">
      <div class="panel-heading with-actions">
        <h3>{{capitalize-string billingDetail.plan}} Plan Base Rate</h3>
        <div class="resource-usage-total">
          <span class="usage-label">
            Monthly Price:
          </span>
          <span class="usage-value">
            ${{billingDetail.planRate}}.00
          </span>
        </div>
      </div>
      <ul class="usage-quote-items">
        <li class="usage-quote-item">
          <div class="usage-label">
            Includes
            {{billingDetail.containerAllowance}} containers,
            {{billingDetail.domainAllowance}} domains, and
            {{billingDetail.diskAllowance}}GB of disk
          </div>
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-12 sort-group">
    <h5 class="sort-header">Current Platform Usage</h5>

    {{usage-quote-by-resource
      stacks=model
      allowance=billingDetail.containerAllowance
      hourlyRate=billingDetail.containerCentsPerHour
      plan=billingDetail.plan
      resource='container'
    }}

    {{usage-quote-by-resource
      stacks=model
      allowance=billingDetail.diskAllowance
      hourlyRate=billingDetail.diskCentsPerHour
      plan=billingDetail.plan
      resource='disk'
    }}

    {{usage-quote-by-resource
      stacks=model
      allowance=billingDetail.domainAllowance
      hourlyRate=billingDetail.domainCentsPerHour
      plan=billingDetail.plan
      resource='domain'
    }}
  </div>
</div>
