{{#login-box}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">

      <div class="panel panel-default panel-focused">
        <div class="panel-heading">
          <div class="panel-heading-link">
            {{link-to "Sign in instead" "login"}}
          </div>
          <h3>Reset your password</h3>
        </div>

        <div class="panel-body">
          {{#if error}}
            <div class="alert alert-danger fade in">
              {{error}}
            </div>
          {{else}}
            {{#if hasSubmitted}}
              {{#if errors.model.email}}
                <div class="alert alert-warning">
                  Email {{errors.model.email}}
                </div>
              {{/if}}
            {{/if}}
            <div class="form-group">
              {{input type="email"
                name='email'
                value=model.email
                class="form-control"
                placeholder="Email"}}
            </div>

            <div class="panel-submit">
              <button class="btn btn-primary btn-block btn-lg" {{action "reset" model}}>
                Email me reset instructions
              </button>
            </div>
          {{/if}}
        </div>
      </div>
    </div>

  </div>
{{/login-box}}
