<div class="column completed" style="width:{{completedWidth}}%">
  <div class="label">
  {{completed.length}} Completed
  </div>
</div>

<div class="column expired" style="width:{{expiredWidth}}%">
  <div class="label">
    {{expired.length}} Expired
  </div>
</div>

<div class="column overdue" style="margin-left: {{overdueMargin}}%">
  <div class="label">
    {{overdue.length}} Overdue
  </div>
</div>
