<div class="column completed" style="width:{{completedWidth}}%">
  <div class="label">
  {{totalCompleted}} Completed
  </div>
</div>

<div class="column expired" style="width:{{expiredWidth}}%">
  <div class="label">
    {{totalExpired}} Expired
  </div>
</div>

<div class="column overdue" style="margin-left: {{overdueMargin}}%">
  <div class="label">
    {{totalOverdue}} Overdue
  </div>
</div>
