{{#spd-nav
  preventContinueMessage=preventContinueMessage
  onNext="onNext"
  onPrevious="onPrevious"
  stepName="Workforce Locations"
  onSave="onSave"
  attestation=attestation
}}
  <div class="description">
    <p>
      Add all commercial locations at which {{organization.name}} workforce members regularly work. Home offices and temporary remote locations do not need to be added.
    </p>
  </div>
{{/spd-nav}}

<div class="container main-body">
  <div class="spd-filterbar">
    <button
      class="btn btn-default add-location-button pull-right"
      {{action "onAddLocation"}}
      disabled={{remoteOnly}}>
        <i class="fa fa-plus"></i> Location
    </button>


    <div class="remote-only-workforce">
      <div class="title">
        Is your workforce remote?
      </div>
      <div class="toggle-box">
        {{x-toggle
          value=remoteOnly
          showLabels=true
          size='medium'
          onLabel='Yes::true'
          offLabel='No::false'
          onToggle=(mut remoteOnly)
        }}
      </div>
    </div>
  </div>

  {{location-index
    locations=validLocations
    removeLocation="onRemoveLocation"
    remoteOnly=remoteOnly
    onAddLocation="onAddLocation"}}
</div>
