<main class="layout-content spd-content risk-assessment__main">
  {{risk-assessment-status-header riskAssessment=riskAssessment}}

  <header class="risk-assessment-header">
    <div class="risk-assessment-container">

      <div class="row">
        <div class="col-xs-12">
          <div class='risk-assessment-header__title-info'>
            <h2 class="risk-assessment-header__sub-title">
              {{#link-to 'predisposing-conditions' riskAssessment.id }}
                ← {{capitalize-string riskAssessment.status}} Risk Assessment
              {{/link-to}} - Predisposing Condition</h2>
            <h1 class="risk-assessment-header__title">{{model.title}}</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="risk-assessment-header__component-description">{{model.description}}</div>
        </div>

        <div class="col-xs-5">
          <div class="risk-assessment-header__component-big-stats clearfix">
            <div class="risk-assessment-header__component-big-stats__stat">
              <div class="value">{{model.pervasiveness}}</div>
              <div class="label">Pervasiveness</div>
            </div>
          </div>
        </div>
      </div>

      <div class="risk-assessment-header__component_micro-stats">
      </div>

    </div>
  </header>

  {{outlet}}
</main>
