<div class="row">
  <div class="col-xs-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Edit {{unbound model.virtualDomain}}</h3>
      </div>
      <div class="panel-body">
        <form role="form">
          {{#unless model.isValid}}
            {{#bs-alert alert="warning" as |component|}}
             {{#bs-alert-dismiss target=component}}
               <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             {{/bs-alert-dismiss}}

              {{#each model.errors.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
            {{/bs-alert}}
          {{/unless}}

          <div class="form-group">
            <label>Service</label>
            <select name="service" class='form-control' disabled>
              <option>{{model.service.handle}}</option>
            </select>
          </div>

          {{select-or-create-certificate certificates=certificates vhost=model selected=model.certificate}}

        </form>

      </div>
    </div>
  </div>
</div>

<div class="resource-actions">
  <button class="btn btn-default" {{action 'cancel'}}>Cancel</button>
  <button class="btn btn-primary" {{action 'save'}} disabled={{savingVhost}}>
    {{#if savingVhost}}
      <i class='fa fa-spin fa-spinner'></i> Saving...
    {{else}}
      Save VHost
    {{/if}}
  </button>
</div>
