<div class="resource-list">
  {{#if inService}}
    {{#each model as |service|}}
      <div class="panel panel-default service">
        <div class="panel-heading">
          <h3>
            <span class="process-type">{{service.processType}}</span> Service
            <span class="service-command">{{service.command}}</span>
          </h3>
        </div>
        <div class="panel-body">
          {{service-scaler service=service scaleService="scaleService"}}
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="row">
      <div class="col-xs-10">
        {{deploy-instructions app=app sshKeys=session.currentUser.sshKeys}}
      </div>
    </div>
  {{/if}}
</div>
