<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading with-actions">
        <h3>
          Metrics per container for
          <span class="process-type">{{model.service.processType}}</span>
          <span class="service-command">{{model.service.command}}</span>
        </h3>
        <div class="panel-heading-actions">
          <button class="btn btn-default" {{action 'setOneHourHorizon'}} disabled={{horizonIsOneHour}}>1 hour</button>
          <button class="btn btn-default" {{action 'setOneDayHorizon'}} disabled={{horizonIsOneDay}}>1 day</button>
          <button class="btn btn-default" {{action 'reload'}}>Reload</button>
        </div>
      </div>
      <div class="panel-body">
        <h4>Memory</h4>
        {{container-memory-metrics
          containers=targetContainers
          horizon=model.uiState.dataHorizon
          lastReload=model.uiState.lastReload}}

        <h4>CPU</h4>
        {{container-cpu-metrics
          containers=targetContainers
          horizon=model.uiState.dataHorizon
          lastReload=model.uiState.lastReload}}
      </div>
    </div>
  </div>
</div>
