<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading with-actions">
        <h3>
          Metrics per container for
          <span class="process-type">{{model.service.processType}}</span>
          <span class="service-command">{{model.service.command}}</span>
        </h3>
        <div class="panel-heading-actions">
          <button class="btn btn-default" {{action 'setOneHourHorizon'}} disabled={{horizonIsOneHour}}>1 hour</button>
          <button class="btn btn-default" {{action 'setOneDayHorizon'}} disabled={{horizonIsOneDay}}>1 day</button>
          <button class="btn btn-default" {{action 'reload'}}>Reload</button>
        </div>
      </div>
      <div class="panel-body">
        <h4>
          Memory Usage
          {{more-info-icon
            title="Understanding Memory Usage"
            body="This metric represents the amount of memory your container has requested from the host system.
                  <br><br>
                  If your container approaches its memory limit, the host system will attempt to reclaim some memory
                  from your container, or terminate it if that's not possible. Memory used for caches and buffers can
                  usually be reclaimed, whereas anonymous memory and memory-mapped files (RSS) usually cannot. Use
                  the toggle below the chart to compare those metrics.
                  <br><br>
                  If this number approaches the memory limit, you should upgrade to a bigger container or reduce the memory
                  footprint of your container."}}
        </h4>
        {{container-memory-metrics
          containers=targetContainers
          horizon=model.uiState.dataHorizon
          lastReload=model.uiState.lastReload}}

        <h4>
          Load Average
          {{more-info-icon
            title="Understanding the Load Average"
            body="This metric represents the number of runnable and blocked tasks (threads) in your
                  container.
                  <br><br>
                  If this number is consistently high, and appears to be hitting a ceiling,
                  you should upgrade to a bigger container or investigate your container for performance
                  bottlenecks in terms of CPU or IO."}}
        </h4>
        {{container-la-metrics
          containers=targetContainers
          horizon=model.uiState.dataHorizon
          lastReload=model.uiState.lastReload}}

        {{#if showDiskMetrics}}
          <h4>
            Disk Usage
            {{more-info-icon
              title="Understanding Disk Usage"
              body="This metric represents the amount of disk space your database is using vs. the available
                    space. Available space will usually be a little lower than the space you provisioned: a
                    small amount of disk space is reserved for usage by the filesystem itself.
                    <br><br>
                    If you anticipate that your database will run out of space, please contact Aptible
                    support to have the volume resized."}}
          </h4>
          {{container-disk-metrics
          containers=targetContainers
          horizon=model.uiState.dataHorizon
          lastReload=model.uiState.lastReload}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
