{{#modal-wrapper title=title description=description onDismiss="onDismiss"}}
  <div class="panel panel-default white-panel">
    <div class="panel-body">
      <form>
         {{#unless newCertificate.isValid}}
          <div class="alert alert-warning fade in">
            <a class="close" data-dismiss="alert">×</a>
            {{#each newCertificate.errors.messages as |message|}}
              <p>{{message}}</p>
            {{/each}}
          </div>
        {{/unless}}

        <div class="form-group">
          <label>Certificate</label>
          <p>
            Drag and drop your certificate file or paste its contents in the
            textarea below.
          </p>
          <p>
            If you have a bundled certificate chain, drag and drop all of the
            certificate files or paste their contents in the textarea below
          </p>
          {{file-textarea value=newCertificate.certificateBody name="body" rows=10 autofocus=true}}
        </div>

        <div class="form-group">
          <label>Private Key</label>
          <p>
            Drag and drop your private key file or paste its contents in the
            textarea below.
          </p>
          {{file-textarea value=newCertificate.privateKey name="private-key" rows=10}}
        </div>

        <button class="btn btn-primary create-certificate" type="submit" {{action "createCertificate"}} disabled={{disableSave}}>
          {{#if newCertificate.isSaving}}
            <i class='fa fa-spin fa-spinner'></i> Saving...
          {{else}}
            Save Certificate
          {{/if}}
        </button>
        <a class="cancel-certificate" style="margin-left:10px;" type="reset" {{action "onDismiss"}}>
          Cancel
        </a>

      </form>
    </div>
  </div>
{{/modal-wrapper}}
