<div class="main-wrapper">
  <header class="layout-header">
    {{partial "header"}}
    {{verification-code-reset user=session.currentUser}}

    {{#if flashMessages.queue}}
      <div class="notifications">
        {{#each flashMessages.queue as |flash|}}
          {{flash-message flash=flash}}
        {{/each}}
      </div>
    {{/if}}
  </header>

  <div class="layout-body">
    <div class="container">

       <div class="activate-notice">
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h1>Welcome to Aptible, {{session.currentUser.name}}!</h1>
            <h2>
              You currently do not have permission to view or edit any resources on your Aptible account.  If this is a mistake, please contact your Aptible Account Owner.
            </h2>
          </div>
        </div>

      </div>
    </div>
  </div>


  <footer class="layout-footer">
    {{partial "nav-footer"}}
  </footer>
</div>
