<header class="resource-header">
  <div class="container">
    <h1 class="resource-title">{{model.name}}</h1>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <ul class="nav sidebar-nav">

        <li class="title">
          Overview
        </li>
        {{#activating-item currentWhen="organization.members" tagName="li"}}
          {{link-to "Members" "organization.members"}}
        {{/activating-item}}
        {{#activating-item currentWhen="organization.invitations" tagName="li"}}
          {{link-to "Invitations" "organization.invitations"}}
        {{/activating-item}}
        {{#activating-item currentWhen="organization.roles" tagName="li"}}
          {{link-to "Roles" "organization.roles"}}
        {{/activating-item}}
        {{#activating-item currentWhen="index" tagName="li"}}
          {{link-to "Environments" "index"}}
        {{/activating-item}}

        <li class="title">
          Settings
        </li>
        {{#activating-item currentWhen="index" tagName="li"}}
          {{link-to "Contact Information" "index"}}
        {{/activating-item}}
        {{#activating-item currentWhen="index" tagName="li"}}
          {{link-to "Payment Information" "index"}}
        {{/activating-item}}
        {{#activating-item currentWhen="index" tagName="li"}}
          {{link-to "Invoices" "index"}}
        {{/activating-item}}
      </ul>
    </div>

    <div class="col-xs-9">
      {{outlet}}
    </div>
  </div>
</div>
