<div class="panel-heading">
  <div class="user-gravatar">
    {{gravatar-image email=userStatus.user.email size=25}}
  </div>

  <div class="user-title">
    <h5 class="user-name">{{userStatus.user.name}}</h5>
    <div class="user-email">{{userStatus.user.email}}</div>
  </div>
  <ul class="status-badges training-enrollment">
    {{training-enrollment-badge userStatus=userStatus tagName="li"}}
  </ul>
</div>

<div class="panel-body">
  <ul class="resource-metadata">
    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">Recent Activity</h5>
      <h3 class="resource-metadata-value">
        {{#each userStatus.documents as |document|}}
          {{document-activity-item document=document}}
        {{else}}
          No Training Activity Yet
        {{/each}}
      </h3>
    </li>
  </ul>
</div>

