<div class="resource-list-grid">

  {{#if hasNoDatabases}}
    <div class="activate-notice activate-notice--micro">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2><strong>{{stack.handle}}</strong> has no databases yet.</h2>
          {{#aptible-ability scope="manage" permittable=stack as |hasAbility|}}
            {{#if hasAbility}}
              {{#if session.currentUser.verified}}
                <div class="call-to-action">
                  <a {{action 'openCreateDbModal'}} class="btn btn-primary open-db-modal">
                    Create Database
                  </a>
                </div>
              {{/if}}
            {{else}}
              <div class="call-to-action">
                <a disabled=true class="btn btn-primary">Create Database</a>
                {{#bs-tooltip title="You do not have permission to create databases for this environment"}}
                  <i class="fa fa-question-circle"></i>
                {{/bs-tooltip}}
              </div>
            {{/if}}
          {{/aptible-ability}}
        </div>
      </div>
    </div>
  {{/if}}

  {{#if hasActive}}
    <div class="sort-group active-databases">
      {{#if showSortableHeader}}
        <h5 class="sort-header">Provisioned Databases</h5>
      {{/if}}
      <div class="row">
        {{#each sortedDeployedDatabases as |database|}}
          <div class="col-xs-4">
            {{partial 'stack/db'}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if hasPending}}
    <div class="sort-group pending-databases">
      <h5 class="sort-header">Provisioning Databases</h5>
      <div class="row">
        {{#each sortedPendingDatabases as |database|}}
          <div class="col-xs-4">
            {{partial 'stack/db'}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if hasDeprovisioning}}
      <div class="sort-group pending-databases">
          <h5 class="sort-header">Deprovisioning Databases</h5>
          <div class="row">
            {{#each sortedDeprovisioningDatabases as |database|}}
                <div class="col-xs-4">
                  {{partial 'stack/db'}}
                </div>
            {{/each}}
          </div>
      </div>
  {{/if}}

  {{#if hasFailedProvision}}
      <div class="sort-group pending-databases">
          <h5 class="sort-header">Databases that failed to provision</h5>
          <div class="row">
            {{#each sortedFailedProvisionDatabases as |database|}}
                <div class="col-xs-4">
                  {{partial 'stack/db'}}
                </div>
            {{/each}}
          </div>
      </div>
  {{/if}}

  {{#if hasDeprovisioned}}
    <div class="sort-group deprovisioned-databases">
      <h5 class="sort-header">Deprovisioned Databases</h5>
      <div class="row">
        {{#each sortedDeprovisionedDatabases as |database|}}
          <div class="col-xs-4">
            {{partial 'stack/db'}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if hasFailedDeprovision}}
      <div class="sort-group pending-databases">
          <h5 class="sort-header">Databases that failed to deprovision</h5>
          <div class="row">
            {{#each sortedFailedDeprovisionDatabases as |database|}}
                <div class="col-xs-4">
                  {{partial 'stack/db'}}
                </div>
            {{/each}}
          </div>
      </div>
  {{/if}}

  {{#unless hasNoDatabases}}
    <div class="resource-list-actions">
      {{#aptible-ability scope="manage" permittable=stack as |hasAbility|}}
        {{#if hasAbility}}
          {{#if session.currentUser.verified}}
            <a {{action 'openCreateDbModal'}} class="btn btn-primary open-db-modal">
              Create Database
            </a>
          {{/if}}
        {{else}}
        <a disabled=true class="btn btn-primary">Create Database</a>
          {{#bs-tooltip title="You do not have permission to create databases for this environment"}}
            <i class="fa fa-question-circle"></i>
          {{/bs-tooltip}}
        {{/if}}
      {{/aptible-ability}}
    </div>
  {{/unless}}
</div>
