{{#each authorization.organizations as |organization|}}
  <ul class="nav sidebar-nav organization-settings">
    <li class="title">
      {{organization.name}} Settings
    </li>

    {{#link-to 'organization.members.index' organization.id tagName="li"}}
      {{link-to "Members" "organization.members.index" organization.id bubbles=false class="members-index"}}
    {{/link-to}}

    {{#link-to 'organization.pending-invitations' organization.id tagName="li"}}
      {{link-to "Pending Invitations" "organization.pending-invitations" organization.id bubbles=false class="pending-invitations"}}
    {{/link-to}}

    {{#link-to 'organization.roles' organization.id tagName="li"}}
      {{link-to "Roles" "organization.roles" organization.id bubbles=false class="role-index" bubbles=false}}
    {{/link-to}}

    {{#aptible-ability scope="manage" permittable=organization as |hasAbility|}}
      {{#if hasAbility}}

        {{#link-to 'organization.admin.environments' organization.id tagName="li"}}
          {{link-to "Environments" "organization.admin.environments" organization.id bubbles=false class="environments-index"}}
        {{/link-to}}

        {{#link-to 'organization.admin.contact-settings' organization.id tagName="li"}}
          {{link-to "Contact Settings" "organization.admin.contact-settings" organization.id bubbles=false class="contact-settings"}}
        {{/link-to}}

        {{#link-to 'organization.admin.billing' organization.id tagName="li"}}
          {{link-to "Billing" "organization.admin.billing" organization.id bubbles=false class="billing-index"}}
        {{/link-to}}
      {{/if}}
    {{/aptible-ability}}
  </ul>
{{/each}}

<ul class='nav sidebar-nav user-settings'>
  <li class="title">
    {{session.currentUser.name}} Settings
  </li>

  {{#link-to 'settings.profile' tagName="li"}}
    {{link-to 'Profile' 'settings.profile' class="profile" bubbles=false}}
  {{/link-to}}

  {{#link-to 'settings.requires-elevation.admin' tagName="li"}}
    {{link-to 'Account Settings' 'settings.requires-elevation.admin' class="account-settings" bubbles=false}}
  {{/link-to}}

  {{#link-to 'settings.ssh' tagName="li"}}
    {{link-to 'SSH Keys' 'settings.ssh' class="ssh-index" bubbles=false}}
  {{/link-to}}

  {{#if session.currentUser.superuser}}
    {{#link-to 'settings.impersonate' tagName="li"}}
      {{link-to 'Impersonate' 'settings.impersonate' class="impersonate" bubbles=false}}
    {{/link-to}}
  {{/if}}
</ul>
