{{#each session.currentUser.organizations as |organization|}}
  <ul class="nav sidebar-nav">
    <li class="title">
      {{organization.name}} Settings
    </li>
    {{#activating-item currentWhen="organization.members.index" tagName="li"}}
      {{link-to "Members" "organization.members.index" organization bubbles=false}}
    {{/activating-item}}
    {{#if organization.invitations}}
      {{#activating-item currentWhen="organization.members.pending-invitations" tagName="li"}}
        {{link-to "Pending Invitations" "organization.members.pending-invitations" organization bubbles=false}}
      {{/activating-item}}
    {{/if}}
    {{#link-to 'organization.roles' organization tagName="li"}}
      {{link-to "Roles" "organization.roles" organization bubbles=false}}
    {{/link-to}}
    {{#link-to 'organization.environments' organization tagName="li"}}
      {{link-to "Environments" "organization.environments" organization bubbles=false}}
    {{/link-to}}

    {{#aptible-ability scope="manage" user=session.currentUser permittable=organization as |hasAbility|}}
      {{#if hasAbility}}
        {{#link-to 'organization.contact-settings' organization tagName="li"}}
          {{link-to "Contact Settings" "organization.contact-settings" organization bubbles=false}}
        {{/link-to}}

        {{#if features.organizationBillingSettings}}
          {{#link-to 'organization.billing' organization tagName="li"}}
            {{link-to "Billing" "organization.billing" organization bubbles=false}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    {{/aptible-ability}}
  </ul>
{{/each}}

<ul class='nav sidebar-nav'>
  <li class="title">
    {{session.currentUser.name}} Settings
  </li>
  {{#activating-item currentWhen='settings.profile' tagName='li'}}
    {{link-to 'Profile' 'settings.profile'}}
  {{/activating-item}}

  {{#activating-item currentWhen='settings.requires-elevation.admin' tagName='li'}}
    {{link-to 'Account Settings' 'settings.requires-elevation.admin'}}
  {{/activating-item}}

  {{#activating-item currentWhen='settings.ssh' tagName='li'}}
    {{link-to 'SSH Keys' 'settings.ssh'}}
  {{/activating-item}}

  {{#if session.currentUser.superuser}}
    {{#activating-item currentWhen='settings.impersonate' tagName='li'}}
      {{link-to 'Impersonate' 'settings.impersonate'}}
    {{/activating-item}}
  {{/if}}
</ul>
