<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-group-wrapper">
        <div class="panel-group">

          <div class="panel panel-default table-panel">
            <header>
              <h3>
                {{capitalize-string operationResourceType}} Audit History
              </h3>

              <table class="table table-striped operations">
                <thead>
                  <tr>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Created By</th>
                    <th class='align-right'>Created On</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each operation in operations}}
                    <tr class='operation'>
                      <td class='operation-type'>
                        {{capitalize-string operation.type}}
                      </td>
                      <td class='operation-status'>
                        {{capitalize-string operation.status}}
                      </td>
                      <td class='operation-created-by user-cell'>
                        {{gravatar-image email=operation.userEmail class='gravatar xs'}}
                        {{operation.userName}}
                      </td>
                      <td class='operation-created'>
                        {{format-date operation.createdAt}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </header>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
