<div class="page-header">
  <h1>Step 2: Configure Your First Environment</h1>
</div>

<div class="signup-form create-first-app">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <div class="panel panel-focused">
        <div class="panel-heading">
          <h3>Configure Your First Environment</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="block">
              Environment Handle
              <span class="label-helper">
                Lowercase alphanumerics only
              </span>
            </label>
            <div class="input-group">
              {{handle-input class="stack-handle form-control sanitize-handler"
                placeholder="e.g., organization-prod"
                name="stack-handle"
                update=(action (mut model.stackHandle))
                value=model.stackHandle
                }}
              {{validation-feedback error=errors.model.stackHandle value=model.stackHandle fieldName='Environment handle'}}
            </div>
          </div>

          <div class="form-group">
            <label class="block">
              App Handle
              <span class="label-helper">
                Lowercase alphanumerics only
              </span>
            </label>
            <div class="input-group">
              {{handle-input class="app-name form-control sanitize-handler"
                placeholder="e.g., app-prod"
                name="app-handle"
                update=(action (mut model.appHandle))
                value=model.appHandle
                autofocus="true"
                }}
              {{validation-feedback error=errors.model.appHandle value=model.appHandle fieldName='App handle'}}
            </div>
          </div>
          <div class="form-group">
            <label>Does your app need a database?</label>
            <div class="select-options-container database-select row">
              {{#db-selector action="selectDbType" as |dbType selectCallback|}}
                {{db-selector-option
                      selectCallback=selectCallback
                      dbType=dbType
                      selectedDbType=model.dbType}}
              {{/db-selector}}
            </div>
          </div>

          {{#if model.dbType}}
            <div class="form-group">
              <label class="block">
                Database Handle
                <span class="label-helper">
                  Lowercase alphanumerics only
                </span>
              </label>
              <div class="input-group">
                {{handle-input class="database-name form-control sanitize-handler"
                  placeholder="e.g., postgresql-prod"
                  name="db-handle"
                  update=(action (mut model.dbHandle))
                  value=model.dbHandle
                  }}
                {{validation-feedback error=errors.model.dbHandle value=model.dbHandle fieldName='Database Handle'}}
              </div>
            </div>

          <div class="form-group">
              <div>
                  <label>Database version</label>
                {{ database-version-selector type=model.dbType databaseImages=model.databaseImages imageSelected="imageSelected" }}
              </div>
          </div>

            <div class="form-group">
              <label>Disk Size</label>
              <div class="slider-input-wrapper disk-size-slider">
                <div class="container-count">
                  {{model.initialDiskSize}} GB
                </div>
                <div class="slider-wrapper">
                  {{no-ui-slider didSlide="setDiskSize"
                                   classNames="disk-size"
                                   start=10 rangeMin=10 rangeMax=200 step=10}}
                  <div class="label-wrapper">
                    <div class="label pull-left">10 GB</div>
                    <div class="label pull-right">200 GB</div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          <button {{action 'create' model}} class="btn btn-lg btn-block btn-primary confirm-action" type='submit'>
            Get Started
          </button>
        </div>
      </div>
      {{#unless errors.model.stackHandle}}
        <div class="skip-link">
          {{link-to 'Do this later →' 'welcome.payment-info' model.organization.id}}
        </div>
      {{/unless}}
    </div>

    <div class="col-xs-5">
      {{app-setup-description plan=model.plan}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      {{change-plan value=model.plan}}
    </div>
  </div>

  <div class="row">
    <div class="signup-progress-wrapper">
      <ul class="signup-progress-indicator">
        <li></li>
        <li class="active"></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
