{{#login-box}}
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">
      <div class="panel panel-subdued panel-focused">
        <div class="panel-heading">
          <div class="panel-heading-link">
            {{link-to 'Skip this step →' 'welcome.payment-info'}}
          </div>
          <h3>Get Started</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label class="block">
              Stack Handle
              <span class="label-helper">
                Lowercase alphanumerics only
              </span>
            </label>
            {{handle-input class="stack-handle form-control sanitize-handler"
              placeholder="e.g., organization-prod"
              name="stack-handle"
              value=model.stackHandle
              }}
          </div>
          <div class="form-group">
            <label class="block">
              App Handle
              <span class="label-helper">
                Lowercase alphanumerics only
              </span>
            </label>
            {{handle-input class="app-name form-control sanitize-handler"
              placeholder="e.g., app-prod"
              name="app-handle"
              value=model.appHandle
              }}
          </div>
          <div class="form-group">
            <label>Does your app need a database?</label>
            <div class="select-options-container database-select row">
              {{#db-selector action="selectDbType" as |dbType selectedDbType selectCallback|}}
                {{db-selector-option
                      selectCallback=selectCallback
                      dbType=dbType
                      selectedDbType=selectedDbType}}
              {{/db-selector}}
            </div>
          </div>

          {{#if model.dbType}}
            <div class="form-group">
              <label class="block">
                Database Handle
                <span class="label-helper">
                  Lowercase alphanumerics only
                </span>
              </label>
              {{handle-input class="database-name form-control sanitize-handler"
                    placeholder="e.g., postgresql-prod"
                    name="db-handle"
                    value=model.dbHandle
                    }}
            </div>

            <div class="form-group">
              <label>Disk Size</label>
              <div class="slider-input-wrapper disk-size-slider">
                <div class="container-count">
                  {{model.initialDiskSize}} GB
                </div>
                <div class="slider-wrapper">
                  {{no-ui-slider didSlide="setDiskSize"
                                   classNames="disk-size"
                                   start=10 rangeMin=10 rangeMax=200 step=10}}
                  <div class="label-wrapper">
                    <div class="label pull-left">10 GB</div>
                    <div class="label pull-right">200 GB</div>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          <button {{action 'create' model}} class="btn btn-lg btn-block btn-primary confirm-action" type='submit'>
            Get Started
          </button>
        </div>
      </div>
    </div>

    <div class="col-xs-5">
      <div class="welcome-info">
        <h2>Creating your first App</h2>
        <p>
          Aptible’s platform allows you to deploy applications to a HIPAA-compliant cloud.  Code is delivered to our servers using Git.
        </p>

        <p>
          Aptible offers data storage options with auditable and encrypted back-ups.  If your app requires a database you don’t see here, let us know.
        </p>
      </div>
    </div>
  </div>
{{/login-box}}
