{{#compliance-status subject=user criterion=criterion organization=organization as |status|}}
  <div class="user-image is-compliant-{{status.green}}">
    <div class="gravatar md">
      {{gravatar-image email=user.email}}
    </div>
    <div class="compliance-icon-wrapper">
      {{compliance-icon status=status}}
    </div>
  </div>

  <div class="info">
    <div class="name">{{user.name}}</div>
    <div class="email">{{user.email}}</div>
  </div>

  <div class="subject-checklist">
      <li class="{{criterion.handle}} criterion-compliant-{{if status.green true false}}">
        {{compliance-icon status=status}}
        <div class="criterion-details">
          <div class="criterion-name">{{criterion.friendlyName}}</div>
          {{#if status.green}}
            <div class="criterion-status">Completed {{format-utc-timestamp status.completedOn true}}</div>
          {{else}}
            <div class="criterion-status">Incomplete</div>
          {{/if}}
        </div>
      </li>
  </div>
{{/compliance-status}}
