<div class="row">
  <div class="col-xs-9">
    <div {{bind-attr class=":panel :panel-default :panel-subdued isPending:panel-danger"}}>
      <div class="panel-heading">
        {{#if model.hasBeenDeployed}}
          <h3>Permanently deprovision {{model.handle}}</h3>
        {{else}}
          <h3>{{model.handle}} cannot be deprovisioned</h3>
        {{/if}}
      </div>
      <div class="panel-body">
        <form role="form">
          {{#if error}}
            <div class="alert alert-warning fade in">
              <a class="close" data-dismiss="alert">×</a>
              <p>
                There was a problem deprovisioning your application: {{error.responseJSON.message}}
              </p>
            </div>
          {{/if}}

          {{#if model.hasBeenDeployed}}
            <p>
              This action CANNOT be undone. This will permanently deprovision
              <strong>{{model.handle}}</strong>.
            </p>

            <div class="form-group">
              <label>Type the name of the app to permanently deprovision.</label>

              {{#button-with-confirmation confirmValue=model.handle action='deprovision'}}
                Deprovision Permanently
              {{/button-with-confirmation}}
            </div>
          {{else}}
            <p>
              This application can only be deprovisioned after it has
              been deployed.
            </p>
          {{/if}}
        </form>

      </div>
    </div>
  </div>
</div>
