{{#bs-alert alert="warning" as |component|}}
  {{bs-alert-dismiss target=component}}

  Hey {{user.name}}, you won't be able to create new apps until you confirm your
  email address. Check your email for instructions.

  <button class='btn btn-default btn-xs' {{action 'resendVerification'}} disabled={{isDisabled}}>
    {{#if sending}}
      Sending
    {{else if sent}}
      Verification email sent
    {{else}}
      <i class='fa fa-refresh'></i>
      Resend verification email
    {{/if}}
  </button>

  {{#if error}}
    There was an error sending the email, please try again.
  {{/if}}
{{/bs-alert}}
