{{#each stack in stacks}}

  <div class="panel panel-default table-panel account-panel">
    <header>
    <h4>
      <span class="account-name">{{stack.name}}</span>
      <span class="subdued account-handle">{{stack.handle}}</span>
      <span class="account-type label label-default">
        {{stack.type}}
      </span>
    </h4>
    <ul class="nav nav-pills sub-nav-tabs">
      {{#aptible-ability user=session.currentUser scope="manage" stack=stack}}
        <li>
          {{link-to 'Create Database' 'stack.new-database' stack class="new-database-link"}}
        </li>
        <li>
          <a class="edit-account-link" data-account-id="111" data-placement="bottom" data-toggle="tooltip" title="" data-original-title="Account Settings">
            <i class="fa fa-cog"></i>
          </a>
        </li>
      {{/aptible-ability}}
    </ul>
    </header>

    <table class="table table-striped">
      {{partial "stack/database-table-header"}}

      <tbody>
        {{#each database in stack.databases}}
          {{partial "stack/database-table-row"}}
        {{/each}}
      </tbody>
    </table>

  </div>

{{/each}}
