<div class="container main-body">

  <!-- Filter -->
  <div class="risk-assessment__filters form-inline">
    <div class="form-group">
      <label class="risk-assessment__filters__label">Sort</label>
      <select class="form-control input-sm">
        <option>Most Relevant</option>
        <option>Least Relevant</option>
        <option>Event Name (A-Z)</option>
        <option>Event Name (Z-A)</option>
      </select>
    </div>

    <div class="form-group">
      <label class="risk-assessment__filters__label">Relevance</label>
      <select class="form-control input-sm">
        <option>Very High</option>
        <option>High</option>
        <option>Medium</option>
        <option>Low</option>
      </select>
    </div>

    <div class="form-group">
      <label class="risk-assessment__filters__label">Search</label>
      <i class="fa fa-search"></i>
      <input type="search" class="risk-assessment__search-input form-control input-sm">
    </div>

    <div class="pull-right">
      <label class="risk-assessment__filters__label">&nbsp;</label>
      <button type="submit" class="btn btn-primary btn-sm">Create New Risk</button>
    </div>
  </div>


  <table class="base-table" cellspacing="0">
    <thead>
      <tr>
        <th class="base-table__risk-threat-events">Threat Events</th>
        <th>Relevance</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.components as |riskAssessmentComponent|}}
        <tr>
          <td class="base-table__risk-threat-events">
            {{riskAssessmentComponent.title}}
            <!-- <span class="base-table__muted">{{riskAssessmentComponent.description}}</span> -->
            {{#if riskAssessmentComponent.implemented}}
              {{#if riskAssessmentComponent.technologies}}
                <h5>Technologies</h5>
                <ul>
                  {{#each riskAssessmentComponent.technologies as |tech|}}
                    <li>{{tech}}</li>
                  {{/each}}
                </ul>
              {{/if}}
            {{/if}}
          </td>
          <td>
            {{#if riskAssessmentComponent.relevance}}
              <span class="risk-assessment-component__chip risk-assessment-component__chip--{{riskAssessmentComponent.relevance}}"></span>
            {{/if}}

            {{#if (eq riskAssessmentComponent.node_type 'security_controls')}}
              <div class="clear">
                {{#if riskAssessmentComponent.implemented}}
                  <span class="risk-assessment-component__chip risk-assessment-component__chip--implemented"></span>
                {{else}}
                  <span class="risk-assessment-component__chip risk-assessment-component__chip--unimplemented"></span>
                {{/if}}
              </div>
            {{/if}}
          </td>
          <td class="base-table__actions">
            {{link-to 'View' 'risk-assessment-component' riskAssessmentComponent class="btn btn-link"}}
            {{link-to 'Edit' 'risk-assessment-component.edit' riskAssessmentComponent class="btn btn-link"}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
