<main class="layout-content spd-content">
  <header class="new-header">
    <div class="container">
      <div class='header-left'>
        <h2 class="sub-title">{{model.organization.name}}</h2>
        <h1 class="title">Risk Assessments</h1>
      </div>
    </div>
  </header>

  <div class="main-body container">
    {{#if hasNotCompletedSetup}}
      {{#spd-notice organizationProfile=model.organizationProfile}}
        <h1>Security Program Setup Required</h1>
        <h2>We need to learn a bit about your security program before we can build your first risk assessment</h2>
      {{/spd-notice}}
    {{else}}

      {{#if draftRiskAssessments}}
        <section class="compliance-section">
          <header>
            <span class="header-title">Draft Risk Assessments</span>
          </header>

          <div class="risk-assessment-index draft-risk-assessments">
            {{#each draftRiskAssessments as |riskAssessment index|}}
              {{risk-assessment-list-item riskAssessment=riskAssessment index=index}}
            {{/each}}
          </div>
        </section>
      {{/if}}

      {{#if currentRiskAssessments}}
        <section class="compliance-section">
          <header>
            <span class="header-title">Current Risk Assessments</span>
          </header>

          <div class="risk-assessment-index active-risk-assessments">
            {{#each currentRiskAssessments as |riskAssessment index|}}
              {{risk-assessment-list-item riskAssessment=riskAssessment index=index}}
            {{/each}}
          </div>
        </section>
      {{/if}}

      {{#if archivedRiskAssessments}}
        <section class="compliance-section">
          <header>
            <span class="header-title">Archived Risk Assessments</span>
          </header>

          <div class="risk-assessment-index archived-risk-assessments">
            {{#each archivedRiskAssessments as |riskAssessment index|}}
              {{risk-assessment-list-item riskAssessment=riskAssessment index=index}}
            {{/each}}
          </div>
        </section>
      {{/if}}
    {{/if}}
  </div>
</main>

<nav class="layout-sidebar">
  {{outlet 'sidebar'}}
</nav>