<form role='form'>
  {{server-validation-errors model=model}}

  <div class="form-group">
    <label for="role-name">Name</label>
    {{focusable-input name="role-name"
                      value=model.name
                      autofocus=true
                      class="form-control"}}
  </div>

  <div class="form-group">
    <label for="role-name">Admin role</label>
    <div class="form-container">
      <ul>
        <li>
          <label>
            {{input type="checkbox"
            name="role-admin"
            checked=model.privileged}}
            Admin Role
          </label>
        </li>
      </ul>
    </div>
  </div>

  <div class="stacks">
    {{#each stacks as |stack|}}
      <div class="form-group stack">
        <label for="role-name">{{stack.handle}} Permissions</label>
        <div class="form-container">
          <ul>
            <li>
              <label>
                {{permission-checkbox
                  scope="read"
                  stack=stack
                  role=model
                  changeset=changeset}}
                Read
              </label>
            </li>
            <li>
              <label>
                {{permission-checkbox
                  scope="manage"
                  stack=stack
                  role=model
                  changeset=changeset}}
                Manage
              </label>
            </li>
          </ul>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="resource-actions">
    <button {{action 'cancel'}} class='btn btn-default' type='button'>
      Cancel
    </button>

    <button {{action 'save'}}
            disabled={{isUnchanged}}
            class='btn btn-primary' type='submit'>
      {{#if model.isSaving}}
        Saving...
      {{else}}
        {{saveButtonName}}
      {{/if}}
    </button>
  </div>
</form>

