<form role='form'>
  {{server-validation-errors model=model}}

  <div class="form-group">
    <label for="role-name">Name</label>
    {{focusable-input name="role-name"
                      value=model.name
                      autofocus=true
                      class="form-control"}}
  </div>

  {{#if billingDetail.allowPHI}}
    {{role-type-options role=model}}
  {{/if}}

  <div class="resource-actions">
    <button {{action 'cancel'}} class='btn btn-default' type='reset'>
      Cancel
    </button>

    <button {{action 'save'}}
                disabled={{isUnchanged}}
                class='btn btn-primary' type='submit'>
      {{#if model.isSaving}}
        Saving...
      {{else}}
        Save
      {{/if}}
    </button>
  </div>
</form>
