<div class='options'>
  <select class="form-control">
    <option>None/Not required</option>
  </select>
</div>

{{#if dataEnvironment.provider}}
  <div class="data-environment-provider sm {{dataEnvironment.provider}}">
    <img src="/assets/images/data-environments/{{dataEnvironment.provider}}.png" alt="{{dataEnvironment.provider}}"/>
  </div>
{{/if}}

<div class="info">
  <h4 class="title">{{property.title}}</h4>
  <div class="description">{{property.description}}</div>
</div>