<div class='options'>
  {{component (concat 'schema-field-' type) key=key property=property document=document}}
</div>

{{#if provider}}
  <div class="data-environment-provider sm {{provider}}">
    <img src="/assets/images/data-environments/{{provider}}.png" alt="{{provider}}"/>
  </div>
{{/if}}

<div class="info">
  <h4 class="title">{{property.title}}</h4>
  <div class="description">{{property.description}}</div>
</div>