<main class="layout-content">
  <header class="resource-header">
    <div class="layout-container">
      <div class="resource-title">
        {{#if roleTypeSubTitle}}
          <h2 class="heading--caps heading--sm">
            {{#link-to 'organization.roles.type' context.organization.id roleTypeParam class="return-link"}}
              {{roleTypeSubTitle}}
            {{/link-to}}
          </h2>
        {{/if}}
        <h1>{{model.name}}</h1>
      </div>
    </div>
  </header>

  <div class="layout-container">
    <h1>{{platformRole}}</h1>
    <ul class='nav nav-pills resource-navigation'>

      {{#link-to 'role.members' tagName="li"}}
        {{link-to 'Members' 'role.members' model bubbles=false}}
      {{/link-to}}

      {{#if model.isPlatform}}

        {{#link-to 'role.environments' tagName="li"}}
          {{link-to 'Environments' 'role.environments' model bubbles=false}}
        {{/link-to}}
      {{/if}}

      {{#if model.isUser}}{{!-- can only change settings on user types role --}}
        {{#if context.userIsEnclaveOrOrganizationAdmin}}
          {{#link-to 'role.settings' tagName="li"}}
            {{link-to 'Settings' 'role.settings' model bubbles=false}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    </ul>

    {{outlet}}

  </div>
</main>
