<thead>
  <tr>
    {{#each columnHeaders as |header|}}
      <th>{{header}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each filteredThreatEvents as |threatEvent|}}
    <tr>
      {{#if columnConfig.title}}
        <td class='aptable__row-header'>{{threatEvent.title}}</td>
      {{/if}}

      {{#if columnConfig.description}}
        <td>
          {{#if threatEvent.briefDescription}}
            {{threatEvent.briefDescription}}<span class="expand">{{#bs-tooltip title=threatEvent.description}}<i class="fa fa-plus"></i>{{/bs-tooltip}}</span>
          {{else}}
            {{threatEvent.description}}
          {{/if}}
        </td>
      {{/if}}

      {{#if columnConfig.riskLevel}}
        <td>{{six-point-scale-badge value=threatEvent.riskLevel}}</td>
      {{/if}}

      {{#if columnConfig.relevance}}
        <td>{{six-point-scale-badge value=threatEvent.relevance}}</td>
      {{/if}}

      {{#if columnConfig.overallLikelihood}}
        <td>{{six-point-scale-badge value=threatEvent.overallLikelihood}}</td>
      {{/if}}

      {{#if columnConfig.impact}}
        <td>{{six-point-scale-badge value=threatEvent.impact}}</td>
      {{/if}}

      {{#if columnConfig.actions}}
        <td class="base-table__actions">
          {{link-to 'View' 'threat-event' threatEvent.id class="btn btn-link view-threat-event"}}
        </td>
      {{/if}}
    </tr>
  {{/each}}
</tbody>
