{{#save-progress progress=saveProgress progressMessage="Provisioning your new environment..."}}
  {{pricing-page-header plan=firstApp.plan}}
  <div class="signup-form">
    <div class="row">
      <div class="col-xs-5 col-xs-offset-1">

        <div class="panel panel-focused">
          <div class="panel-heading">
            <h3>Add a payment method</h3>
          </div>
          <div class="panel-body">
            <form role="form" class="payment-form">
              {{#if error}}
                {{#bs-alert alert="danger"}}
                  <p>{{error}}</p>
                {{/bs-alert}}
              {{/if}}

              <div class="form-group">
                {{input class="form-control" value=model.name name="name" placeholder="Name on card"}}
              </div>

              <div class="form-group">
                {{input class="form-control number" value=model.number name="number" placeholder="Card number"}}
                {{input class="form-control cvc" value=model.cvc name="cvc" placeholder="CVV code" }}
              </div>

              <div class="form-group">
                <div class="expiration-month">
                  {{select-month value=model.expMonth name="exp-month" prompt="Exp month"}}
                </div>
                <div class="expiration-year">
                  {{select-year value=model.expYear name="exp-year" prompt="Exp year"}}
                </div>

                {{input class="form-control zip" value=model.zip name="zip" placeholder="Billing zip"}}
              </div>

              <button class="btn btn-primary btn-block btn-lg" {{action 'create' model}}>Save</button>
            </form>
          </div>
        </div>

      </div>
      <div class="col-xs-5">
        <div class="welcome-info">
          {{plan-description app=firstApp plan=firstApp.plan}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        {{change-plan value=firstApp.plan}}
      </div>
    </div>

    <div class="row">
      <div class="signup-progress-wrapper">
        <ul class="signup-progress-indicator">
          <li></li>
          <li></li>
          <li class="active"></li>
        </ul>
      </div>
    </div>
  </div>
{{/save-progress}}
