{{#if error}}
  {{#bs-alert alert="danger"}}
    {{error}}
  {{/bs-alert}}
{{/if}}

<div class="resource-list-grid">
  <div class="row">
    <div class="col-xs-4">
      <div class='panel plan-panel development-plan {{if (eq model.plan "development") "active"}}'>
        <div class="panel-heading"><h5>Development</h5></div>
        <div class='plan-cost'>
          <span class='plan-cost-amount'>$0</span> base price per month
        </div>
        <div class="panel-heading">
          <ul class="plan-items">
            <li>{{fa-icon "times" classNames="danger"}} No PHI allowed</li>
            <li>{{fa-icon "check" classNames="primary"}} No commitment: Pay as you go</li>
            <li>{{fa-icon "check" classNames="primary"}} Ideal for staging/QA/sandboxes</li>
            <li>{{fa-icon "check" classNames="primary"}} Email support</li>
            <li>{{fa-icon "check" classNames="primary"}} Slack #public channel access</li>
          </ul>
        </div>
        <div class="panel-body">
          {{#if (eq model.plan "development")}}
            <button class='btn plan-btn current' disabled>
              {{fa-icon "check" classNames="success"}}
              Current Plan
            </button>
          {{else}}
            <button class='btn plan-btn' disabled>Contact Support to downgrade</button>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class='panel plan-panel platform-plan {{if (eq model.plan "platform") "active"}}'>
        <div class="panel-heading"><h5>Platform</h5></div>
        <div class='plan-cost'>
          <span class='plan-cost-amount'>$999</span> per month
        </div>
        <div class="panel-heading">
          <ul class="plan-items">
            <li>
              {{fa-icon "check" classNames="primary"}} HIPAA-compliant: PHI-ready
            </li>
            {{#if (eq model.plan "development")}}
              <li>
                {{fa-icon "check" classNames="primary"}} 6 x 1GB Containers included
              </li>
              <li>
                {{fa-icon "check" classNames="primary"}} {{gb-to-tb 1000}}TB Disk, Encryption &amp; Backups included
              </li>
              <li>
                {{fa-icon "check" classNames="primary"}} 4 Endpoints included
              </li>
            {{else}}
              <li>
                {{fa-icon "check" classNames="primary"}} {{if model.containerAllowance model.containerAllowance 6}} x 1GB Containers included
              </li>
              <li>
                {{fa-icon "check" classNames="primary"}} {{gb-to-tb (if model.diskAllowance model.diskAllowance 1000)}}TB Disk, Encryption &amp; Backups included
              </li>
              <li>
                {{fa-icon "check" classNames="primary"}} {{if model.domainAllowance model.domainAllowance 4}} Endpoints included
              </li>
            {{/if}}
            <li>
              {{fa-icon "check" classNames="primary"}} 3-month no-risk trial
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Month-to-month available
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} 99.95% SLA
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Signed BAA
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Priority support
            </li>
          </ul>
        </div>
        <div class="panel-body">
          {{#if isUpgrading}}
            <button class='btn plan-btn' disabled>Upgrading...</button>
          {{else}}
            {{#if (eq model.plan "platform")}}
              <button class='btn plan-btn current' disabled>
                {{fa-icon "check" classNames="success"}}
                Current Plan
              </button>
            {{else}}
              {{#if (eq model.plan "production")}}
                <button class='btn plan-btn' disabled>Contact Support to downgrade</button>
              {{else}}
                <button class='btn plan-btn btn-primary' {{action 'upgrade' 'platform'}}>Upgrade to Platform</button>
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class='panel plan-panel production-plan {{if (eq model.plan "production") "active"}}'>
        <div class="panel-heading"><h5>Managed</h5></div>
        <div class='plan-cost'>
          <span class='plan-cost-amount'>$ Custom</span> per month
        </div>
        <div class="panel-heading">
          <ul class="plan-items">
            <li>
              {{fa-icon "check" classNames="primary"}} Full-service compliance
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Includes everything from Platform plan
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Compliance Platform access
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}} Comprehensive risk &amp; security management
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}}
              Industry-leading developer privay &amp; security compliance training
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}}
              Custom BAA, SLA available
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}}
              Premium support
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}}
              Security review support
            </li>
            <li>
              {{fa-icon "check" classNames="primary"}}
              Dedicated POC in your Slack channel
            </li>
          </ul>
        </div>
        <div class="panel-body">

          {{#unless (eq model.plan "production")}}
            <div class="plan-hero">
              <div>
                Ask about our managed HIPAA compliant plans
              </div>
            </div>
          {{/unless}}

          {{#if (eq model.plan "production")}}
            <button class='btn plan-btn current' disabled>
              {{fa-icon "check" classNames="success"}}
              Current Plan
            </button>
          {{else}}
            <button class="btn plan-btn btn-primary" {{action 'requestUpgrade'}}>
              Contact Aptible
            </button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
