<header>
  <i class="fa.fa-user"></i>
  <span class="header-title">{{criterion.friendlyName}}</span>
  {{#if noncompliantSubjects}}
    <span class="badge">{{noncompliantSubjects}}</span>
  {{/if}}
</header>

{{#if subjects}}
  <div class="panel compliance-status-table-panel white-panel criterion-subjects {{criterion.handle}}">
    {{#each subjects as |user|}}
      {{user-training-criterion-status user=user criterion=criterion organization=organization}}
    {{/each}}
  </div>
{{else}}
  <div class="panel empty-status-panel">
    <div class="empty-panel-message">No users subject to {{criterion.name}}</div>
  </div>
{{/if}}
