{{partial 'mixins/container-metrics'}}

<p>
{{#if noMemoryLimit}}
{{else}}
  {{input
  type="checkbox"
    name=(concat elementId '-show-memory-limit')
    id=(concat elementId '-show-memory-limit')
    checked=uiState.showMemoryLimit
    disabled=noMemoryLimit}}

  <label for="{{concat elementId '-show-memory-limit'}}">
    Compare to memory limit ({{minMemoryLimit}} MB)
  </label>
{{/if}}
</p>
