{{partial 'mixins/container-metrics'}}

<p>
  {{input
  type="checkbox"
    name=(concat elementId '-show-caches')
    id=(concat elementId '-show-caches')
    checked=uiState.showCaches}}

  <label for="{{concat elementId '-show-caches'}}">
    Compare RSS and RSS + buffers / caches
  </label>
</p>

<p>
{{#if noMemoryLimit}}
{{else}}
  {{input
  type="checkbox"
    name=(concat elementId '-show-memory-limit')
    id=(concat elementId '-show-memory-limit')
    checked=uiState.showMemoryLimit
    disabled=noMemoryLimit}}

  <label for="{{concat elementId '-show-memory-limit'}}">
    Compare to memory limit ({{minMemoryLimit}} MB)
  </label>
{{/if}}
</p>
