<header class="resource-header">
  <div class="layout-container">
    <div class="resource-title">
      <i class="resource-icon resource-org"></i>
      <h1>{{billingDetail.organization.name}} Billing</h1>
    </div>

    <ul class="resource-metadata">
      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">
          Current Plan
        </h5>
        <h3 class="resource-metadata-value plan-value">
          {{billingDetail.plan}}
        </h3>
      </li>

      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">
          Payment Method
        </h5>
        <h3 class="resource-metadata-value">
          {{billingDetail.paymentMethodName}} ****{{billingDetail.paymentMethodDisplay}}
        </h3>
      </li>

      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">
          Next Invoice Date
        </h5>
        <h3 class="resource-metadata-value">
          {{format-date billingDetail.nextInvoiceDate}}
        </h3>
      </li>

      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">
          Estimated Monthly Cost
        </h5>
        <h3 class="resource-metadata-value">
          {{total-monthly-estimate billingDetail=billingDetail stacks=stacks}}
        </h3>
      </li>
    </ul>
  </div>
</header>
