<div class="panel">
  <div class="panel-heading">
    <h3>Pending Invitations</h3>
  </div>

  {{#if successMessage}}
    {{#bs-alert alert="success" as |component|}}
      {{bs-alert-dismiss target=component}}
      {{successMessage}}
    {{/bs-alert}}
  {{/if}}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Date Sent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |invitation|}}
        <tr>
          <td>{{invitation.email}}</td>
          <td>{{invitation.role.name}}</td>
          <td>{{invitation.updatedAt}}</td>
          <td>
            {{#aptible-ability
                user=session.currentUser
                scope='manage'
                permittable=organization as |hasAbility|}}
              {{#if hasAbility}}
                <div class="table-row-nav">
                  <ul class="nav nav-pills sub-nav-tabs">
                    <li>{{resend-invitation invitation=invitation action="resentInvitation"}}</li>
                    <li>
                      <a {{action 'destroyInvitation' invitation}} href="#" title="Delete invitation for {{invitation.email}}">
                        <i class="fa fa-times"></i>
                        <span class="button-label">
                          Remove
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
              {{/if}}
            {{/aptible-ability}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
