<main class="layout-content spd-content risk-assessment__main">
  {{risk-assessment-status-header riskAssessment=riskAssessment}}

  <header class="risk-assessment-header">
    <div class="risk-assessment-container">

      <div class="row">
        <div class="col-xs-12">
          <div class='risk-assessment-header__title-info'>
            <h2 class="risk-assessment-header__sub-title">
              {{#link-to 'risk-assessment' riskAssessment }}
                ← {{capitalize-string riskAssessment.status}} Risk Assessment
              {{/link-to}} - Threat Event</h2>
            <h1 class="risk-assessment-header__title">{{model.title}}</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="risk-assessment-header__component-description">{{model.description}}</div>
        </div>

        <div class="col-xs-5" style="display: none;">
          <div class="risk-assessment-header__component-big-stats clearfix">
            <div class="risk-assessment-header__component-big-stats__stat">
              <div class="value">{{model.appliedRiskIndex}}</div>
              <div class="label">Overall Risk Index</div>
            </div>

            <div class="risk-assessment-header__component-big-stats__stat">
              <div class="value">{{model.impact}}</div>
              <div class="label">Impact</div>
            </div>
          </div>
        </div>
      </div>


      <div class="risk-assessment-header__component_micro-stats">
        <ul>

          {{#if model.likelihoodOfInitiation}}
            <li class="risk-assessment-header__component_micro-stats__item">
              <span class="risk-assessment-header__component_micro-stats__item__title">
                Likelihood of Initiation
              </span>
              <span class="risk-assessment-header__component_micro-stats__item__value">
                {{model.likelihoodOfInitiation}}
              </span>
            </li>
          {{/if}}

          {{#if model.appliedLikelihoodOfImpact}}
            <li class="risk-assessment-header__component_micro-stats__item">
              <span class="risk-assessment-header__component_micro-stats__item__title">
                Likelihood of Adverse Impact
              </span>
              <span class="risk-assessment-header__component_micro-stats__item__value">
                {{model.appliedLikelihoodOfImpact}}
              </span>
            </li>
          {{/if}}

          {{#if model.appliedOverallLikelihood}}
            <li class="risk-assessment-header__component_micro-stats__item">
              <span class="risk-assessment-header__component_micro-stats__item__title">
                Overall Likelihood of Adverse Impact
              </span>
              <span class="risk-assessment-header__component_micro-stats__item__value">
                {{model.appliedOverallLikelihood}}
              </span>
            </li>
          {{/if}}

        </ul>
      </div>
    </div>
  </header>

  {{outlet}}
</main>
