<div class="row">
  <div class="col-xs-6">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Change Your Password</h3></div>
        <div class="panel-body">
          <form action="">
            <div class="form-group">
              <label for="password">New password</label>
              {{input type="password"
                      class="form-control" placholder="New password"
                      value=model.password name="password"}}
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm new password</label>
              {{input type="password"
                      class="form-control" placholder="New password"
                      value=model.passwordConfirmation
                      name="confirm-password"}}
            </div>

            <div class="">
              <button {{action 'changePassword'}}
                disabled={{model.isSaving}}
                class="btn btn-primary" type="submit">

                {{#if isSavingPassword}}
                  Saving
                {{else}}
                  Change password
                {{/if}}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>Change Your Email</h3></div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="email">Email</label>
              {{input type="email"
                      class="form-control" placeholder="Email"
                      value=model.email name="email"}}
            </div>
            <div class="">
              <button {{action 'changeEmail'}} class="btn btn-primary" type="submit" disabled={{model.isSaving}}>
                {{#if isSavingEmail}}
                  Saving
                {{else}}
                  Change email
                {{/if}}
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h3>2-Factor Authentication</h3></div>
        <div class="panel-body">
          <p>
          {{#if otpDisabled}}
            2-factor authentication can be enabled for your account.
          {{else if otpPending}}
            2-factor authentication will be enabled for your account after confirmation.
          {{else if otpEnabled}}
            2-factor authentication is enabled for your account.
          {{else}}
            {{! Shouldn't be happening }}
            2-factor authentication is in an unexpected state. Please contact support.
          {{/if}}
          </p>

          {{#if otpPending}}
            <div>
              {{qr-code data=model.currentOtpConfiguration.otpUri}}
            </div>
          {{/if}}

          <form>
            {{#if otpPending}}
              <div class="form-group">
                <label for="otp-otp-token">2FA token</label>
                {{input type="text"
                class="form-control" placeholder="Enter code"
                value=model.otpToken
                name="otp-otp-token"}}
              </div>
            {{/if}}

            <button {{action otpButtonAction}} class="btn btn-primary" type="submit" disabled={{model.isSaving}}>
              {{otpButtonLabel}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
