<header class="resource-header">
  <div class="layout-container">

    <div class="resource-title">
      <i class="resource-icon resource-db"></i>
      <h1>
        {{model.handle}}
        {{#if model.initializeFrom}}
          <span class="resource-affix">
            {{#if model.supportsReplication}}replicates{{/if}}
            {{#if model.supportsClustering}}clustered with{{/if}}
            {{#link-to 'database' model.initializeFrom}}{{ model.initializeFrom.handle }}{{/link-to}}
          </span>
        {{/if}}
      </h1>
    </div>

    <ul class="resource-metadata resource-metadata">
      {{#if model.isDeprovisioned}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Status</h5>
          <h3 class="resource-metadata-value"><span class="danger">Deprovisioned</span></h3>
        </li>
      {{else}}

      {{#if model.stack.allowPHI}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Dedicated Environment</h5>
          <h3 class="resource-metadata-value"><span class="success">PHI Ready</span></h3>
        </li>
      {{else}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Shared Environment</h5>
          <h3 class="resource-metadata-value"><span class="danger">Not Ready for PHI</span></h3>
        </li>
      {{/if}}

      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">Type</h5>
        <h3 class="resource-metadata-value">{{model.type}}</h3>
      </li>

      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">Version</h5>
        <h3 class="resource-metadata-value db-version">{{model.databaseImage.description}}</h3>
      </li>

      {{#if model.isProvisioned}}
        {{#if model.disk}}
          <li class="resource-metadata-item">
            <h5 class="resource-metadata-title">Disk Size</h5>
            <h3 class="resource-metadata-value db-size">{{model.disk.size}} GB</h3>
          </li>
          <li class="resource-metadata-item">
            <h5 class="resource-metadata-title">Container Size</h5>
            <h3 class="resource-metadata-value db-size">{{model.service.containerSizeGB}} GB</h3>
          </li>
        {{/if}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Connection URL</h5>
          <h3 class="resource-metadata-value db-connection-url-value">
            {{#click-to-reveal text="Reveal"}}
              <span class="sensitive-indicator">Sensitive</span>
              <span class="db-connection-url">
                {{model.connectionUrl}}
              </span>
              {{click-to-copy text=model.connectionUrl}}
            {{/click-to-reveal}}
          </h3>
        </li>
      {{else if model.isProvisioning}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Status</h5>
          <h3 class="resource-metadata-value"><i class="fa fa-spin fa-spinner"></i> <span class="db-status">Provisioning</span></h3>
        </li>
      {{else if model.hasFailedProvision}}
          <li class="resource-metadata-item">
              <h5 class="resource-metadata-title">Status</h5>
              <h3 class="resource-metadata-value"><span class="db-status">Provision failed</span></h3>
          </li>
      {{else if model.hasFailedDeProvision}}
          <li class="resource-metadata-item">
              <h5 class="resource-metadata-title">Status</h5>
              <h3 class="resource-metadata-value"><span class="db-status">Deprovision failed</span></h3>
          </li>
      {{/if}}
    {{/if}}
    </ul>
  </div>
</header>
