<h4>Add a Virtual Host</h4>

<div>
  You are about to add a virtual host to {{service.handle}}
</div>

Virtual domain:
{{input value=vhost.virtualDomain placeholder="e.g., mydomain.com" class="virtual-domain"}}

Certficate:
{{textarea value=vhost.certificate class="certificate"
           rows=15 cols=40}}

Private key:
{{textarea value=vhost.privateKey class="private-key"
           rows=15 cols=40}}

<button {{action 'save'}}>Add virtual host</button>
<button>Nevermind</button>

