{{#if title}}
  <h3 class="panel-title">{{title}}</h3>
{{/if}}

<div class="panel panel-striped security-controls provider-{{securityControlGroup.provider}}">
  {{#liquid-if loading class="fadeIn loading-security-control-group"}}

    <div class="loading-security-controls">
      <div class="loading-provider">
        {{#if showProvider}}
          <div class="data-environment-provider sm {{provider}}">
            <img src="/assets/images/data-environments/{{provider}}.png" alt="{{provider}}"/>
          </div>
        {{/if}}
      </div>

      <div class="loading-progress">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style={{{progressWidth}}}>
          </div>
        </div>
        <div class="progress-message">{{progressMessage}}</div>
      </div>
    </div>

  {{else}}
    <div class="security-controls">
      {{#each-property properties=schema.properties as |key property type|}}
        {{security-control
          key=key
          property=property
          type=type
          provider=securityControlGroup.provider
          document=document
          onChange="onChange"
        }}
      {{/each-property}}
    </div>

    {{#liquid-if showSave class="fadeIn"}}
      <div class="panel-footer">
        <button class="btn btn-primary btn-xs pull-right" {{action 'save'}} disabled={{attestation.isSaving}}>Save</button>

        {{#liquid-if errorMessage class="fadeIn error-message pull-right"}}
          <i class="fa fa-exclamation-circle"></i> {{errorMessage}}
        {{/liquid-if}}

        {{#liquid-if saveMessage class="fadeIn save-message pull-right"}}
          <i class="fa fa-check"></i> {{saveMessage}}
        {{/liquid-if}}

        {{#liquid-if attestation.isSaving class="fadeIn save-message pull-right"}}
          <i class="fa fa-spin fa-spinner"></i> Saving...
        {{/liquid-if}}
      </div>
    {{/liquid-if}}
  {{/liquid-if}}
</div>

