<form>
  <header class="security-control-group-header">
    <button class="btn btn-default btn-sm pull-right" {{action "save"}} disabled={{attestation.isSaving}}>
      {{#if attestation.isSaving}}
        <i class="fa fa-spin fa-spinner"></i> Saving...
      {{else}}
        Save
      {{/if}}
    </button>

    {{#unless isOrganizational}}
      {{provider-logo size="sm" provider=provider}}
    {{/unless}}

    <h1 class="security-control-group-title">
      {{#if isOrganizational}}
        {{organizationName}}
      {{/if}}
      {{schema.schema.title}}
    </h1>

    {{#if showStatusBar}}
      <div class="status-bar">
        {{#if validationErrors class="fadeIn error-message"}}
          <i class="fa fa-exclamation-circle"></i> {{validationErrors}}
        {{/if}}

        {{#if saveMessage class="fadeIn save-message"}}
          <i class="fa fa-check"></i> {{saveMessage}}
        {{/if}}

        {{#if attestation.isSaving class="fadeIn save-message"}}
          <i class="fa fa-spin fa-spinner"></i> Saving...
        {{/if}}
      </div>
    {{/if}}
  </header>

  {{#if isLoading}}
    <div class="loading-security-controls">
      <div class="loading-provider">
        <i class="fa fa-spin fa-spinner"></i>
      </div>

      <div class="loading-progress">
        <div class="progress-message">Loading Security Controls...</div>
      </div>
    </div>
  {{else}}

    <div class="security-controls-list">
      {{#each-property properties=schema.properties.security_controls.properties document=document recursive=false as |key property type options|}}
        {{#if options.showProperty}}
          <div class="property-visibility-wrapper {{if property.visible 'visible' ''}}">
            {{#if property.properties}}
              {{security-control-property-wrapper
                key=(concat 'security_controls.' key)
                property=property
                type=type
                provider=securityControlGroup.provider
                document=document
                attestation=attestation
                options=options
              }}
            {{else}}
              {{security-control-childless-property
                key=(concat 'security_controls.' key)
                options=options
                property=property
                type=type
                document=document
                attestation=attestation}}
            {{/if}}
          </div>
        {{/if}}
      {{/each-property}}
    </div>

    <div class="security-control-group-footer">
      {{#if onPrevious}}
        <button class="btn btn-primary btn-sm pull-left" {{action "previous"}}>← Back</button>
      {{/if}}

      <div class="pull-right">
        <button class="btn btn-default btn-sm" style="margin-right:10px;" type="submit" {{action "save"}} disabled={{attestation.isSaving}}>
          {{#if attestation.isSaving}}
            <i class="fa fa-spin fa-spinner"></i> Saving...
          {{else}}
            Save
          {{/if}}
        </button>
        {{#if onNext}}
          <button class="btn btn-primary btn-sm" {{action "next"}} disabled={{attestation.isSaving}}>
            {{#if attestation.isSaving}}
              <i class="fa fa-spin fa-spinner"></i> Saving...
            {{else}}
              Next →
            {{/if}}
          </button>
        {{/if}}
      </div>
    </div>
  {{/if}}
</form>