<header class="new-header">
  <div class="container">
    <div class="header-left">
      <h2 class="sub-title">Compliance Engines</h2>
      <h1 class="title">{{organizatin.name}} Compliance Dashboard</h1>
    </div>
  </div>
</header>


<div class="container main-body">
  <section class="compliance-section">
    <header>
      <i class="fa fa-check-circle-o"></i>
      <span class="header-title">Compliance Alerts</span>
      <span class="badge">0</span>
    </header>

    <div class="row">
      <div class="col-xs-12">
        {{compliance-alerts alerts=alerts}}
      </div>
    </div>
  </section>

  <section class="compliance-section">
    <header>
      <i class="fa fa-check-circle-o"></i>
      <span class="header-title">Compliance Engines</span>
      <span class="badge">1</span>
    </header>

    <div class="row">
      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.riskCriterion
          criterionDocuments=model.riskAssessmentDocuments
          productionApps=model.productionApps
          users=model.users}}
      </div>

      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.policyCriterion
          criterionDocuments=model.policyManualDocuments
          productionApps=model.productionApps
          users=model.users}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.appSecurityCriterion
          criterionDocuments=model.appSecurityDocuments
          organization=model.organization
          productionApps=model.productionApps
          users=model.users}}

      </div>

      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.trainingCriterion
          criterionDocuments=model.trainingDocuments
          users=model.users
          organization=model.organization
          productionApps=model.productionApps}}
      </div>
    </div>
  </section>
</div>
