<header>
  <div class="container">
    <h1 class="dashboard-header">{{model.organization.name}}</h1>
  </div>
</header>


<div class="container main-body">
  {{#if model.alerts}}
    <section class="compliance-section">
      <header>
        <span class="header-title">Compliance Alerts</span>
        <span class="badge">{{model.alerts.length}}</span>
      </header>

      <div class="row">
        <div class="col-xs-12">
          {{compliance-alerts alerts=model.alerts}}
        </div>
      </div>
    </section>
  {{/if}}

  <section class="compliance-section">
    <header>
      <span class="header-title">Compliance Engines</span>
    </header>

    <div class="row">
      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.riskCriterion
          criterionDocuments=model.riskAssessmentDocuments
          productionApps=model.productionApps
          users=model.users}}
      </div>

      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.policyCriterion
          criterionDocuments=model.policyManualDocuments
          productionApps=model.productionApps
          users=model.users}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.appSecurityCriterion
          criterionDocuments=model.appSecurityDocuments
          organization=model.organization
          productionApps=model.productionApps
          users=model.users}}

      </div>

      <div class="col-xs-6">
        {{compliance-engine-status
          criterion=model.trainingCriterion
          criterionDocuments=model.trainingDocuments
          users=model.users
          organization=model.organization
          productionApps=model.productionApps}}
      </div>
    </div>
  </section>
</div>
