<td class="profile--inline">
  {{gravatar-image email=membership.user.email size=25 retina=true class="profile-image"}}
  {{membership.user.name}}
</td>

<td>{{membership.user.email}}</td>

<td>{{format-utc-timestamp membership.createdAt true}}</td>

<td>
  {{#if hasOwnerShield}}
    <div class="label label-owner"><i class="fa fa-shield"></i> Owner</div>
  {{/if}}
</td>

<td class="aptable__actions aptable__actions--checkbox">
  {{x-toggle
    value=isToggled
    onToggle=(action 'togglePrivileged')
    showLabels=false
    onLabel=true
    offLabel=false
    disabled=isToggleDisabled
    size='medium'}}
</td>

<td class="aptable__actions aptable__actions--skinny">
  {{#if isOnlyRole}}
    {{#if linkToEditMember}}
      {{#link-to 'organization.members.edit' organization membership.user classNames='btn btn-default btn-xs'}}
        {{#bs-tooltip title=removeTooltip}}
          <i class="glyphicon glyphicon-pencil"></i> Edit
        {{/bs-tooltip}}
      {{/link-to}}
    {{else}}
      <button class="btn btn-default btn-xs" disabled>
        <i class="fa fa-times"></i> Remove
      </button>
      {{#bs-tooltip title=removeTooltip}}
        <i class="fa fa-exclamation-triangle btn__tip">Remove</i>
      {{/bs-tooltip}}
    {{/if}}
  {{else}}
    <button class="btn btn-default btn-xs" {{action 'destroyMembership'}}>
      <i class="fa fa-times"></i> Remove
    </button>
  {{/if}}
</td>
