<form role="form">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default ">
        <div class="panel-heading">
            <h3>Create a new VHost</h3>
        </div>
        <div class="panel-body">
          {{#unless model.isValid}}
            <div class="alert alert-warning fade in">
                <a class="close" data-dismiss="alert">×</a>
              {{#each model.errors.messages as |message|}}
                  <p>{{message}}</p>
              {{/each}}
            </div>
          {{/unless}}

            <div class="form-group">
              <label>Service</label>
              {{ ultimate-select items=services name="service" itemKey="id" itemValue="handle" update=(action (mut vhostService)) selected=vhostService autofocus=true }}
            </div>

          {{#unless serviceHasDefaultVhost}}
              <div class="form-group">
                <label class="block" for="domain-type">Domain type</label>
                <div class="radio">
                  <div>
                    {{#radio-button value=true groupValue=model.isDefault name="domain-type"}}
                      {{#bs-tooltip placement="bottom" title='A default domain is simply a domain in the format app-${id}.on-aptible.com.' bs-container=false}}
                          Use app-{{ model.app.id }}.on-aptible.com default domain name
                      {{/bs-tooltip}}
                    {{/radio-button}}
                  </div>
                    <div>
                      {{#radio-button value=false groupValue=model.isDefault name="domain-type"}}
                        {{#bs-tooltip placement="bottom" title='With a custom domain you can use a custom certificate and domain name.' bs-container=false}}
                            Use a custom domain name
                        {{/bs-tooltip}}
                      {{/radio-button}}
                    </div>
                </div>
              </div>
          {{/unless}}

            <div class="form-group">
              <label class="block" for="vhost-type">Type</label>
              <div class="radio">
                <div>
                  {{#radio-button value=false groupValue=model.internal name="vhost-type"}}
                    {{#bs-tooltip placement="bottom" title='External Domains are accessible from the outside internet.' bs-container=false}}
                        External
                    {{/bs-tooltip}}
                  {{/radio-button}}
                </div>
                <div>
                  {{#radio-button value=true groupValue=model.internal name="vhost-type"}}
                    {{#bs-tooltip placement="bottom" title='Internal Domains are only accessible from other apps in your environment.' bs-container=false}}
                        Internal
                    {{/bs-tooltip}}
                  {{/radio-button}}
                </div>
              </div>
            </div>

          {{#unless model.isDefault}}
            {{select-or-create-certificate certificates=certificates vhost=model}}
          {{/unless}}
        </div>
      </div>
    </div>
  </div>

  <div class="resource-actions">
    <button class="btn btn-default" type="reset" {{action 'cancel'}}>Cancel</button>
    <button class="btn btn-primary" type="submit" {{action 'save' model vhostService}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}
          <i class='fa fa-spin fa-spinner'></i> Saving...
      {{else}}
          Save VHost
      {{/if}}
    </button>
  </div>
</form>
