<main class="layout-content">
  {{partial 'organization/members-header'}}

  <div class="layout-container">
    <div class="resource-list-grid">
      <div class="row">
        {{#each model as |user|}}
          <div class="col-xs-4">
            {{#aptible-ability user=session.currentUser scope='manage' permittable=organization as |hasAbility|}}
              {{#if hasAbility}}
                {{#link-to 'organization.members.edit' user classNames='panel-link'}}
                  {{partial 'organization/user'}}
                {{/link-to}}
              {{else}}
                {{partial 'organization/user'}}
              {{/if}}
            {{/aptible-ability}}
          </div>
        {{/each}}
        {{#each organization.invitations as |invitation|}}
          <div class="col-xs-4">
            {{partial 'organization/invited-user'}}
          </div>
        {{/each}}
      </div>

      <div class="resource-actions">
        {{#aptible-ability scope="manage" user=session.currentUser permittable=organization as |hasAbility|}}
          {{#if hasAbility}}
            {{#link-to 'organization.invite' class="btn btn-primary"}}
              Invite New Member
            {{/link-to}}
          {{/if}}
        {{/aptible-ability}}
      </div>
    </div>
  </div>
</main>
