{{spd-nav preventContinueMessage=preventContinueMessage onNext="onNext" onPrevious="onPrevious"}}

<div class="setup-step">
  <h1 class="setup-step-title">Team Members</h1>

  <nav class="panel-nav">
    <ul class="tabs">
      <li class="{{if (eq panel 'team') 'active' null}}">
        <a {{action 'setPanel' 'team'}}>Team <span class="badge user-count">{{users.length}}</span></a>
      </li>
      <li class="{{if (eq panel 'invites') 'active' null}}">
        <a {{action 'setPanel' 'invites'}}>Pending Invitations <span class="badge invitation-count">{{invitations.length}}</span></a>
      </li>
    </ul>
  </nav>

  <div class="panels">
    {{#if (eq panel 'team')}}
      {{team-index teamDocument=schemaDocument properties=properties}}
    {{/if}}

    {{#if (eq panel 'invites')}}
      {{invite-index invitations=invitations}}
    {{/if}}
  </div>

  <div class="panel panel-striped">
    <div class="panel-section">
      <div class="row">
        <div class="col-xs-8">
          <div class="panel-section-title">Invite your entire workforce</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet purus ornare condimentum malesuada. Pellentesque diam mi, fermentum ut sapien eu, vehicula dictum elit. Integer cursus sagittis ullamcorper.
          </p>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-xl btn-primary" {{action "showInviteModal"}}>Invite more users</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-primary btn-lg" {{action "onNext"}}>Continue →</button>
  </div>
</div>
