{{#dashboard-dropdown-item classNames='title'}}
  {{user.name}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{link-to 'Profile' 'settings.profile'}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{link-to 'Account' 'settings.admin'}}
{{/dashboard-dropdown-item}}

{{#dashboard-dropdown-item}}
  {{link-to 'SSH Keys' 'settings.ssh'}}
{{/dashboard-dropdown-item}}

{{dashboard-dropdown-divider}}

<div>
  {{#dashboard-dropdown-item}}
    {{link-to "Logout" "logout"}}
  {{/dashboard-dropdown-item}}
</div>