{{!
  Making Arc Paths:
    a rx ry x-axis-rotation large-arc-flag sweep-flag dx dy
    See also: https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Paths

  Template for a circle guide and guage with radius $r and length $l. $l is
  bigger than
  <circle class="progress-radial-guage-guide" cx="$l / 2" cy="$l / 2" r="$r"/>
  <path class="progress-radial-guage-path"
        d="M $l / 2, $l / 2
           m 0, $r
           a $r,$r 1 0 0 0, -(2 * $r)
           a $r,$r 1 0 0 0, (2 * $r)" />
}}
<div class="progress-radial">
  <svg class="progress-radial-guage" xmlns="http://www.w3.org/2000/svg" width="{{length}}" height="{{length}}">
    <circle class="progress-radial-guage-guide"
          style="stroke-width: {{strokeWidth}}"
          cx="{{halfLength}}" cy="{{halfLength}}" r="{{radius}}"/>
    <path class="progress-radial-guage-path"
          style="stroke-dashoffset: {{circumference}}; stroke-width: {{strokeWidth}}; stroke-dasharray: {{circumference}}"
          d="M {{halfLength}}, {{halfLength}}
              m 0, {{radius}}
              a {{radius}},{{radius}} 1 0 0 0, -{{diameter}}
              a {{radius}},{{radius}} 1 0 0 0, {{diameter}}" />
  </svg>
  <div class="overlay"
      style="width: {{length}}px; height: {{length}}px; line-height: {{length}}px;">
    <span class="completed">0</span>
    <span class="slash">/</span>
    <span class="total">{{total}}</span>
  </div>
</div>
{{#if label}}
  <div class="progress-radial-label">{{label}}</div>
{{/if}}
