<header class="new-header">
  <div class="container">

    {{#if previous}}
      <a {{action 'previous' previous.path}} class="spd-back-button">←</a>
    {{/if}}

    {{#if isOnAStep}}
      {{spd-progress steps=steps}}
    {{/if}}

    {{#if next}}
      <div class='header-left'>
        <h2 class="sub-title">Security Program Design</h2>
        <h1 class="title">{{stepName}}</h1>
        {{yield}}
      </div>
    {{/if}}

    {{#if isOnAStep}}
      {{#if next}}
        <div class="header-right">
          <ul class="header-actions">
            <li>
              <button {{action 'save'}} class="btn btn-default btn-sm">Save</button>
            </li>
            <li>
              {{#if preventContinueMessage}}
                {{#bs-tooltip title=preventContinueMessage}}
                  <div>
                    <button class="btn btn-primary btn-sm" disabled="disabled">Continue →</button>
                  </div>
                {{/bs-tooltip}}
              {{else}}
                <button {{action 'next' next.path}} class="btn btn-primary btn-sm top-continue-button">
                  Continue →
                </button>
              {{/if}}
            </li>
          </ul>
        </div>
      {{/if}}
    {{/if}}
  </div>
</header>
