{{#if hasNoLogDrains}}
  <div class="activate-notice activate-notice--micro">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
          <h2><strong>{{stack.handle}}</strong> has no log drains yet.</h2>
          {{#aptible-ability scope="manage" permittable=stack as |hasAbility|}}
            {{#if hasAbility}}
              {{#if session.currentUser.verified}}
                <div class="call-to-action">
                  <a {{action 'openCreateLogDrainModal'}} class="btn btn-primary open-log-drain-modal">
                    Create Log Drain
                  </a>
                </div>
              {{/if}}
            {{else}}
              <div class="call-to-action">
                <a disabled=true class="btn btn-primary">Create Log Drain</a>
                {{#bs-tooltip title="You do not have permission to create log drains for this environment"}}
                  <i class="fa fa-question-circle"></i>
                {{/bs-tooltip}}
              </div>
            {{/if}}
          {{/aptible-ability}}
        </div>
      </div>
    </div>
{{/if}}

{{#if hasActive}}
    <div class="sort-group provisioned-log-drains">
      {{#if showSortableHeader}}
          <h5 class="sort-header">Provisioned Log Drains</h5>
      {{/if}}
        <div class="row">
          {{#each provisionedLogDrains as |logDrain|}}
              <div class="col-xs-12">
                  {{ log-drain-item logDrain=logDrain completedAction="completedAction" failedAction="failedAction" }}
              </div>
          {{/each}}
        </div>
    </div>
{{/if}}

{{#if hasPending}}
    <div class="sort-group pending-log-drains">
        <h5 class="sort-header">Provisioning Log Drains</h5>
        <div class="row">
          {{#each pendingOrProvisioningLogDrains as |logDrain|}}
              <div class="col-xs-12">
                {{ log-drain-item logDrain=logDrain completedAction="completedAction" failedAction="failedAction" }}
              </div>
          {{/each}}
        </div>
    </div>
{{/if}}

{{#if hasFailedProvision}}
    <div class="sort-group deprovisioning-log-drains">
        <h5 class="sort-header">Log Drains that failed to provision</h5>
        <div class="row">
          {{#each failedProvisioningLogDrains as |logDrain|}}
              <div class="col-xs-12">
                {{ log-drain-item logDrain=logDrain completedAction="completedAction" failedAction="failedAction" }}
              </div>
          {{/each}}
        </div>
    </div>
{{/if}}

{{#if hasDeprovisioning}}
    <div class="sort-group deprovisioning-log-drains">
        <h5 class="sort-header">Deprovisioning Log Drains</h5>
        <div class="row">
          {{#each deprovisionedLogDrains as |logDrain|}}
              <div class="col-xs-12">
                {{ log-drain-item logDrain=logDrain completedAction="completedAction" failedAction="failedAction" }}
              </div>
          {{/each}}
        </div>
    </div>
{{/if}}

{{#if hasFailedDeprovision}}
    <div class="sort-group deprovisioning-log-drains">
        <h5 class="sort-header">Log Drains that failed to deprovision</h5>
        <div class="row">
          {{#each failedDeprovisioningLogDrains as |logDrain|}}
              <div class="col-xs-12">
                {{ log-drain-item logDrain=logDrain completedAction="completedAction" failedAction="failedAction" }}
              </div>
          {{/each}}
        </div>
    </div>
{{/if}}

{{#unless hasNoLogDrains}}
   <div class="resource-list-actions">
      {{#aptible-ability scope="manage" permittable=stack as |hasAbility|}}
        {{#if hasAbility}}
          {{#if session.currentUser.verified}}
            <a {{action 'openCreateLogDrainModal'}} class="btn btn-primary open-log-drain-modal">
              Create Log Drain
            </a>
          {{/if}}
        {{else}}
        <a disabled=true class="btn btn-primary">Create Log Drain</a>
          {{#bs-tooltip title="You do not have permission to create log drains for this environment"}}
            <i class="fa fa-question-circle"></i>
          {{/bs-tooltip}}
        {{/if}}
      {{/aptible-ability}}
    </div>
{{/unless}}