{{#confirmation-modal}}
  <div class="main-wrapper">
    <header class="layout-header">
      {{partial "header"}}
      {{verification-code-reset user=session.currentUser}}

      {{#if flashMessages.queue}}
        <div class="notifications">
          {{#each flashMessages.queue as |flash|}}
            {{flash-message flash=flash}}
          {{/each}}
        </div>
      {{/if}}
    </header>
    <div class="layout-body">
      <nav class="layout-sidebar">
        {{outlet 'sidebar'}}
      </nav>

      <main class="layout-content">

        <header class="resource-header">
          <div class="layout-container">
            <div class="resource-title">
              <h1>
                {{session.currentUser.name}} <span class="text-muted">- {{session.currentUser.email}}</span>
              </h1>
            </div>
          </div>
        </header>

        <div class="layout-container">
          {{liquid-outlet}}
        </div>
      </main>

    </div>
    <footer class="layout-footer">
      {{partial "nav-footer"}}
    </footer>
  </div>
{{/confirmation-modal}}


