<div class="container focus" id="main-yield-wrapper" style="min-height:873px">
  <div class="page-header">
    <div class="login-box-logo"></div>
  </div>
  <div class="row focus-form">
    <div class="col-xs-6 col-xs-offset-3">
      <h3 class="heading">
        Log in to Your Aptible Account
      </h3>
      <div class="sub-heading">
        Don't have an Aptible account?
        <a href="#">Create Your Aptible Account</a>
      </div>
      <div class="alerts-partial-wrapper">
        {{#if model.error}}
          <div class="alert alert-warning fade in">
            <a class="close" data-dismiss="alert">×</a>
            {{model.error}}
          </div>
        {{/if}}
      </div>

      <form {{action "login" on="submit"}}>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-envelope"></i>
          </span>
          {{input type="email"
              value=model.email
              autofocus=true
              class="form-control"
              placeholder="Email"}}
        </div>
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-lock"></i>
          </span>
          {{input type="password"
              value=model.password
              class="form-control"
              placeholder="Password"}}
        </div>
        <div class="form-group">
          <button class="btn btn-primary" {{action "login" model}}>Log in</button>
          <a class="pull-right forgot-password-link" href="#">Forgot your password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
