{{#link-to 'database' database class="panel-link"}}
  <div class="panel panel-default resource-list-item database">
    <div class="panel-heading">
      <h5 class='database-handle'>{{database.handle}}</h5>
    </div>
    <div class="panel-body">
      <span class="service-badge {{if database.service.inService 'in-service'}}">
        <span class="service-name">
          {{#if database.service}}
            {{database.disk.size}}GB <span class="times">Disk </span>
          {{else}}
            <i class="fa fa-spinner fa-spin"></i>
          {{/if}}{{database.type}}
        </span>

        <span class="service-container-count">
          {{if database.service.containerSizeGB database.service.containerSizeGB 1}}GB
        </span>
      </span>
    </div>
  </div>
{{/link-to}}
