{{#link-to 'database' database class="panel-link"}}
  <div class="panel panel-default resource-list-item database">
    <div class="panel-heading">
      <h5 class='database-handle'>
        {{database.handle}}
        <span class="subdued">{{ database.databaseImage.description }}</span>
      </h5>
    </div>
    <div class="panel-body">
      <span class="service-badge  {{if database.service.inService 'in-service'}}">
        <span class="service-name">{{database.type}}
          {{#if (or database.isDeprovisioning database.isProvisioning)}}
            <i class="fa fa-spinner fa-spin"></i>
          {{else if (or database.hasFailedProvision database.hasFailedDeprovision) }}
              <span class="service-container-count">FAILED</span>
          {{else}}
            {{database.disk.size}}GB <span class="times">Disk</span>
          {{/if}}
        </span>
        <span class="service-container-count">
           {{if database.service.containerSizeGB database.service.containerSizeGB 1}}GB
        </span>
      </span>
    </div>
  </div>
{{/link-to}}
