{{#login-box}}
<h3 class="heading">
  Create Your Aptible Account
</h3>
<div class="sub-heading">
  Already have an Aptible account?
  {{link-to "Log In" "login"}}
</div>
<div class="alerts-partial-wrapper">
  {{#unless model.isValid}}
    <div class="alert alert-warning fade in">
      <a class="close" data-dismiss="alert">×</a>
      {{#each message in model.errors.messages}}
        <p>{{message}}</p>
      {{/each}}
    </div>
  {{/unless}}
</div>

<div class="input-group">
  <span class="input-group-addon">
    <i class="fa fa-envelope"></i>
  </span>
  {{input type="email"
      value=model.email
      autofocus=true
      class="form-control"
      placeholder="Email"}}
</div>
<div class="input-group">
  <span class="input-group-addon">
    <i class="fa fa-envelope"></i>
  </span>
  {{input type="text"
      value=model.name
      class="form-control"
      placeholder="Full Name"}}
</div>
<div class="input-group">
  <span class="input-group-addon">
    <i class="fa fa-lock"></i>
  </span>
  {{input type="password"
      value=model.password
      class="form-control"
      placeholder="Password"}}
</div>
<div class="form-group">
  <button class="btn btn-primary" {{action "signup" model}}>Create Account</button>
</div>
{{/login-box}}
