{{#login-box}}
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1">

      {{#unless model.isValid}}
        {{#bs-alert alert="danger"}}
          {{#each message in model.errors.messages}}
            <p>{{message}}</p>
          {{/each}}
        {{/bs-alert}}
      {{/unless}}

      <div class="panel panel-default panel-subdued panel-focused">
        <div class="panel-heading">
          <div class="panel-heading-link">
            {{link-to "Sign in instead" "login"}}
          </div>
          <h3>Create Your Aptible Account</h3>
        </div>

        <div class="panel-body">
          <div class="form-group">
            <div class="input-group">
              {{input type="text"
                name="name"
                value=model.name
                autofocus=true
                class="form-control"
                placeholder="Full Name"}}
              {{validation-feedback error=errors.model.name value=model.name}}
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              {{input type="text"
                name="organization"
                value=organization.name
                class="form-control"
                placeholder="Organization Name"}}

              {{validation-feedback error=errors.organization.name value=organization.name}}
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              {{input type="email"
                value=model.email
                class="form-control"
                placeholder="Email"}}
              {{validation-feedback error=errors.model.email value=model.email}}
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              {{input type="password"
                value=model.password
                class="form-control"
                placeholder="Password"}}
              {{validation-feedback error=errors.model.password value=model.password}}
            </div>
          </div>

          <div class="panel-submit">
            <button class="btn btn-primary btn-block btn-lg" {{action "signup" model}}>Sign Up</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-5">
      <div class="welcome-info">
        <h2>
          Aptible is a deployment platform built to automate HIPAA compliance
        </h2>
        <p>
          We run the entire backend you need to securely host and deliver your apps: web servers, app servers, databases, load balancers, network security, backups, encryption, permissions - everything.
        </p>
        <p>
          And because we run your ops, our compliance engines can help you implement an entire HIPAA compliance program at a fraction of the traditional cost.
        </p>

        <p>
          Aptible works great with all languages and frameworks. <a href="https://support.aptible.com/quickstart" target="_blank">Check out our getting started guides</a> for help deploying your app.
        </p>

        {{query-box}}
      </div>
    </div>

  </div>
{{/login-box}}
