<main class="layout-content spd-content risk-assessment__main">
  <header class="new-header risk-assessment__header">
    <div class="container">
      <div class='header-left'>
        {{link-to '<- All Risk Assessments' 'risk-assessments'}}
        <h2 class="sub-title">{{model.organization.name}}</h2>
        <h1 class="title">{{model.status}} Risk Assessments</h1>
      </div>

      <div class='pull-right'>
        {{link-to 'Submit for Approval' 'risk-assessment' riskAssessment.id class="btn btn-primary"}}
        {{link-to 'Download PDF' 'risk-assessment' riskAssessment.id class="btn btn-default"}}
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Components</a></li>
        <li><a href="#">Activity</a></li>
        <li><a href="#">Compare</a></li>
      </ul>
    </div>
  </header>

  <div class="container main-body">
    <div class="risk-components-nav">
      {{#link-to 'risk-assessment.nodes' 'threat_events' class="risk-components-nav__link"}}
        <i class="fa fa-bolt"></i> Risks
      {{/link-to}}
      {{#link-to 'risk-assessment.nodes' 'vulnerabilities' class="risk-components-nav__link"}}
        <i class="fa fa-unlock"></i> Vulnerabilities
      {{/link-to}}
      {{#link-to 'risk-assessment.nodes' 'predisposing_conditions' class="risk-components-nav__link"}}
        <i class="fa fa-globe"></i> Predisposing Conditions
      {{/link-to}}
      {{#link-to 'risk-assessment.nodes' 'threat_sources' class="risk-components-nav__link"}}
        <i class="fa fa-users"></i> Threat Sources
      {{/link-to}}
      {{#link-to 'risk-assessment.nodes' 'security_controls' class="risk-components-nav__link"}}
        <i class="fa fa-sliders"></i> Security Controls
      {{/link-to}}
    </div>
  </div>

  {{outlet}}

</main>
