<tr class="aptable__pending-invite-row">
  <td>{{invitation.email}}</td>
  <td>{{invitation.role.name}}</td>
  <td>{{invitation.inviterName}}</td>
  <td>{{format-date invitation.createdAt}}</td>
  <!-- Actions -->
  {{#aptible-ability scope="manage" user=session.currentUser role=invitation.role permittable=model.organization as |hasAbility|}}
    {{#if hasAbility}}
      <td class="aptable__actions aptable__actions--skinny">
        <a class="btn btn-default btn-xs btn--link" {{action 'destroyInvitation' invitation}} href="#">
          {{#bs-tooltip title="Delete Invitation"}}
            <i class="fa fa-times"></i>
          {{/bs-tooltip}}
        </a>
        <a class="btn btn-default btn-xs btn--link" {{action 'resendInvitation' invitation}} href="#">
          {{#bs-tooltip title="Resend Invitation"}}
          <i class="fa fa-undo"></i>
          {{/bs-tooltip}}
        </a>
      </td>
    {{/if}}
  {{/aptible-ability}}
</tr>
