<header class="resource-header">
  <div class="layout-container">
    <div class="resource-title">
      <i class="resource-icon resource-org"></i>
      <h1>{{organization.name}} Members</h1>
    </div>

    <ul class="resource-metadata resource-metadata">
      {{#aptible-ability scope="manage" permittable=organization as |hasAbility|}}
        {{#if hasAbility}}
          {{#link-to 'organization.admin.contact-settings' tagName='li' classNames='resource-metadata-item resource-metadata-button'}}
            {{#bs-tooltip title="Edit Contact Settings"}}
              <i class="fa fa-cog"></i>
            {{/bs-tooltip}}
          {{/link-to}}
        {{/if}}
      {{/aptible-ability}}

      <li class="resource-metadata-item with-image">
        <div class="resource-metadata-image">
          {{gravatar-image email=organization.securityOfficer.email size=30 retina=true}}
        </div>

        <h5 class="resource-metadata-title">Security Officer</h5>
        <h3 class="resource-metadata-value">{{organization.securityOfficer.name}} - {{organization.securityOfficer.email}}</h3>
      </li>

      <li class="resource-metadata-item with-image">
        <div class="resource-metadata-image">
          {{gravatar-image email=organization.billingDetail.billingContact.email size=30 retina=true}}
        </div>

        <h5 class="resource-metadata-title">Billing Contact</h5>
        <h3 class="resource-metadata-value">{{organization.billingDetail.billingContact.name}} - {{organization.billingDetail.billingContact.email}}</h3>
      </li>
    </ul>
  </div>
</header>
