<div class="panel panel-default panel--bisected panel--{{role.type}}">
  <div class="panel-heading role-details__heading">
    <div class="role-details__label">
      <h2 class="role-details__name">{{role.name}}</h2>
      {{#if role.isOwner}}
        <div class="label label-owner">
          <i class="fa fa-shield"></i> Owner
        </div>
      {{/if}}
    </div>
    <div class="role-details__list">
      <h4 class="aptible-label">Members</h4>
      {{delimited-list
          count=4
          list=role.users
          listKey='name'
          placeholder='no members'}}
    </div>
  </div>
  {{!-- PRIVILEGED ROLES --}}
  {{#if role.isOwner}}
    {{#if role.isAccountOwner}}
      {{partial 'organization/role-details-owner'}}
    {{/if}}
    {{#if role.isPlatformOwner}}
      {{partial 'organization/role-details-platform-owner'}}
    {{/if}}
    {{#if role.isComplianceOwner}}
      {{partial 'organization/role-details-compliance-owner'}}
    {{/if}}
  {{else}}
    {{#if role.isPlatform}}
      {{partial 'organization/platform-role-details'}}
    {{else}}
      {{partial 'organization/compliance-role-details'}}
    {{/if}}
  {{/if}}
</div>
