<div class="panel panel-default panel--bisected">
  <div class="panel-heading role-details__heading">
    <div class="role-details__label">
      <h2 class="role-details__name">{{role.name}}</h2>
      {{#if role.owner}}
        <div class="label label-owner">
          <i class="fa fa-shield"></i> Owner
        </div>
      {{/if}}
    </div>
    <div class="role-details__members">
      <h4 class="aptible-label">Members</h4>
      {{#if role.users}}
        {{user-names users=role.users count=3 placeholder='--'}}
      {{/if}}
    </div>
  </div>
  {{!-- PRIVILEGED ROLES --}}
  {{#if role.privileged}}
    {{#if (eq role.type 'owner')}}
      {{partial 'organization/role-details-owner'}}
    {{/if}}
    {{#if (eq role.type 'platform_owner')}}
      {{partial 'organization/role-details-platform-owner'}}
    {{/if}}
    {{#if (eq role.type 'compliance_owner')}}
      {{partial 'organization/role-details-compliance-owner'}}
    {{/if}}
  {{else}}
    {{!-- Platform or Compliance User Roles --}}
    {{partial 'organization/role-details'}}
  {{/if}}
</div>
