<div class="panel panel-default user resource-list-item">
  <div class="panel-heading">
    <div class="user-gravatar">
      {{gravatar-image email=user.email size=25}}
    </div>

    <div class="user-title">
      <h5 class="user-name">{{user.name}}</h5>
      <div class="user-email">{{user.email}}</div>
    </div>
  </div>

  <div class="panel-body">
    <ul class="resource-metadata">
      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">Roles</h5>
        <h3 class="resource-metadata-value">{{format-list (filter-by-organization user.roles organization) 'name' ', '}}</h3>
      </li>
      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">2-Factor Authentication</h5>
        <h3 class="resource-metadata-value">{{otp-status otpEnabled=user.otpEnabled}}</h3>
      </li>
    </ul>
  </div>
</div>
