<ul class="resource-metadata">
  {{#if model.activated}}
    {{#if model.allowPHI}}
      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">Dedicated Environment</h5>
        <h3 class="resource-metadata-value"><span class="success">PHI Ready</span></h3>
      </li>
    {{else}}
      <li class="resource-metadata-item">
        <h5 class="resource-metadata-title">Shared Environment</h5>
        <h3 class="resource-metadata-value"><span class="danger">Not Ready for PHI</span></h3>
      </li>
    {{/if}}

    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">{{model.totalAppCount}} {{plural-string "App" model.totalAppCount}}</h5>
      <h3 class="resource-metadata-value">Using {{model.appContainerCount}} {{plural-string "container" totalContainerCount}}</h3>
    </li>

    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">{{model.totalDatabaseCount}} {{plural-string "Database" model.totalDatabaseCount}}</h5>
      <h3 class="resource-metadata-value">
        Using {{format-disk-size model.totalDiskSize}} of disk and
        {{model.totalDatabaseCount}}
        {{plural-string "container" model.totalDatabaseCount}}
      </h3>
    </li>

    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">{{model.persistedVhosts.length}} {{plural-string "Domain" model.persistedVhosts.length}}</h5>
      <h3 class="resource-metadata-value">
        {{#if showVhostTooltip}}
          {{vhostNamesSnippet}}
           and
          {{#bs-tooltip title=vhostNamesTooltip placement="bottom" bs-container=false}}
            <u>{{vhostRemaining}} more</u>
          {{/bs-tooltip}}
        {{else}}
          {{displayVhostNames}}
        {{/if}}
      </h3>
    </li>

    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">{{model.logDrains.length }} Log {{plural-string "Drain" model.logDrains.length}}</h5>
      <h3 class="resource-metadata-value">
        {{#if hasLogDrains}}
          {{#with logDrainsForSnippet.firstObject as |logDrain|}}
            {{logDrain.drainHost}}:{{logDrain.drainPort}}
          {{/with}}
        {{else}}
            None configured
        {{/if}}
      </h3>
    </li>
  {{else}}
    <li class="resource-metadata-item">
      <h5 class="resource-metadata-title">Status</h5>
      <h3 class="resource-metadata-value">
        <i class="fa fa-spin fa-spinner"></i>
        Provisioning
      </h3>
    </li>
  {{/if}}
</ul>
