{{#if addNewCertificate}}
  <div class="form-group">
    <label>Certificate</label>
    <p>
      Drag and drop your certificate file or paste its contents in the
      textarea below.
    </p>
    <p>
      If you have a bundled certificate chain, drag and drop all of the
      certificate files or paste their contents in the textarea below.
    </p>
    {{file-textarea value=vhost.certificateBody name="certificate-body" rows=10}}
  </div>

  <div class="form-group">
    <label>Private Key</label>
    <p>
      Drag and drop your private key file or paste its contents in the
      textarea below.
    </p>
    {{file-textarea value=vhost.privateKey name="private-key" rows=10}}
  </div>

  {{#if certificates}}
    <div class="form-group">
      <a {{action 'showAddNewCertificate' false}} class="toggle-new-certificate">Select existing certificate</a>
    </div>
  {{/if}}
{{else}}
  {{#if certificates}}
    <div class="form-group">
      <label>Certificate</label>
      {{ultimate-select name="certificate" items=certificates itemKey="id" itemValue="name" update=(action (mut vhost.certificate)) selected=selected}}
    </div>

    <div class="form-group">
      <a {{action 'showAddNewCertificate' true}} class="toggle-new-certificate">Add New Certificate</a>
    </div>
  {{/if}}
{{/if}}
