<select class="form-control" {{action 'update' on="change"}} name={{name}} data-stripe={{data-stripe}}>
    {{#if prompt}}
      <option disabled selected>{{prompt}}</option>
    {{/if}}
    {{#each items as |item|}}
        <option value="{{item}}">{{item}}</option>
    {{/each}}
</select>
