<select class="form-control" {{action 'update' on="change"}} name={{name}} data-stripe={{data-stripe}}>
    {{#if prompt}}
      <option disabled>{{prompt}}</option>
    {{/if}}
    {{#each items as |item|}}
        <option>{{item}}</option>
    {{/each}}
</select>
