<div class="row">
  <div class="col-xs-6">
    <label>Containers</label>
    <div class="slider-input-wrapper">
      {{#if error}}
        <div class="alert alert-danger">
          {{error}}
          <button {{action "clearMessages"}} type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {{/if}}

      {{#if success}}
        <div class="alert alert-success">
          {{success}}
          <button {{action "clearMessages"}} type="button" class="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {{/if}}

      <input class="form-control" {{bind-attr value=containerCount}} disabled='disabled' />
      <div class="slider-wrapper">
        {{no-ui-slider didSlide="setContainerCount"
                       didSet="finishSliding"
                       start=containerCount
                       rangeMin=1
                       rangeMax=10
                       step=1}}
        <div class="label-wrapper">
          <div class="label align-left">1</div>
          <div class="label align-right">10</div>
        </div>
      </div>

      {{#if showActionButtons}}
        <div class="slider-actions">
          <button {{action "cancel"}} class="btn btn-xs btn-default btn-cancel">Cancel</button>
          <button {{action "scale"}} class="btn btn-xs btn-primary slider-confirm">
            {{#if isSaving}}
              Saving...
            {{else}}
              Scale
            {{/if}}
          </button>
        </div>
      {{/if}}

    </div>
  </div>
  <div class="col-xs-6">
    <div class="pull-right">
      {{containerCount}} Production App at $ per Hour
      $438.24/month
    </div>
  </div>
</div>
