{{#login-box}}
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="panel panel-focused">
        <div class="panel-heading">
          <h3>Accept invitation to {{model.organizationName}}</h3>
        </div>
        <div class="panel-body">
          {{#if error}}
            {{#bs-alert alert="danger"}}
              {{error}}
            {{/bs-alert}}
          {{/if}}
          <form>
            <div class="claim-invitation-description">
              <h2>
                {{model.inviterName}} invited you to join {{model.organizationName}}
                on Aptible.
              </h2>

              <p>
                You are currently signed in as {{session.currentUser.email}}.
                Click the button below to join {{model.organizationName}}.
              </p>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-block btn-lg" type="submit" {{action "claim"}}>
                Accept invitation
              </button>
            </div>

            {{link-to 'Ignore invitation' 'stacks'}}

          </form>
        </div>
      </div>
    </div>
  </div>
{{/login-box}}
