<form role="form">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3>Create a new VHost</h3>
        </div>
        <div class="panel-body">
          {{#unless model.isValid}}
            <div class="alert alert-warning fade in">
              <a class="close" data-dismiss="alert">×</a>
              {{#each model.errors.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
            </div>
          {{/unless}}

          <div class="form-group">
            <label>Service</label>
            {{view "autofocusable-select" content=services
                            selection=vhostService
                            name="service"
                            optionLabelPath="content.handle"
                            autofocus=true
                            class="form-control"}}
          </div>

          <div class="form-group">
            <label class="block" for="vhost-type">Type</label>
            <div class="radio">
              <div>
                {{#radio-button value=false groupValue=model.internal name="vhost-type"}}
                  {{#bs-tooltip placement="bottom" title='External Domains are accessible from the outside internet.' bs-container=false}}
                    External
                  {{/bs-tooltip}}
                {{/radio-button}}
              </div>
              <div>
                {{#radio-button value=true groupValue=model.internal name="vhost-type"}}
                  {{#bs-tooltip placement="bottom" title='Internal Domains are only accessible from other apps in your environment.' bs-container=false}}
                  Internal
                  {{/bs-tooltip}}
                {{/radio-button}}
              </div>
            </div>
          </div>

          {{select-or-create-certificate certificates=certificates vhost=model}}

        </div>
      </div>
    </div>
  </div>

  <div class="resource-actions">
    <button class="btn btn-default" type="reset" {{action 'cancel'}}>Cancel</button>
    <button class="btn btn-primary" type="submit" {{action 'save' model vhostService}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}
        <i class='fa fa-spin fa-spinner'></i> Saving...
      {{else}}
        Save VHost
      {{/if}}
    </button>
  </div>
</form>
