{{#if error}}
  {{#bs-alert alert="danger"}}
    {{error}}
  {{/bs-alert}}
{{/if}}

<div class="resource-list-grid">
  <div class="row">
    <div class="col-xs-4">
      <div class='panel plan-panel {{if (eq model.plan "development") "active"}}'>
        <div class="panel-heading"><h5>Development</h5></div>
        <div class="panel-heading">
          <div class='plan-cost'>
            <span class='plan-cost-amount'>$0</span> per month
          </div>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Ideal for staging or development
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            No commitment, pay month-to-month
          </p>
        </div>
        <div class="panel-body">
          <div class="plan-include">
            0 Containers Included
            <div class="plan-include-subheader">
              $0.08/hour per container
            </div>
          </div>

          <div class="plan-include">
            0 GB Disk Storage Included
            <div class="plan-include-subheader">
              $0.0005/hour per GB
            </div>
          </div>

          <div class="plan-include">
            0 Domains Included
            <div class="plan-include-subheader">
              $0.005/hour per domain
            </div>
          </div>

          {{#if (eq model.plan "development")}}
            <button class='btn plan-btn current' disabled>
              {{fa-icon "check" classNames="success"}}
              Current Plan
            </button>
          {{else}}
            <button class='btn plan-btn' disabled>Contact Support to downgrade</button>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class='panel plan-panel {{if (eq model.plan "platform") "active"}}'>
        <div class="panel-heading"><h5>Platform</h5></div>
        <div class="panel-heading">
          <div class='plan-cost'>
            <span class='plan-cost-amount'>$499</span> per month
          </div>
          <p>
            {{fa-icon "check" classNames="primary"}}
            HIPAA-compliant/PHI-ready private cloud
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Signed Business Associate Agreement
          </p>
        </div>
        <div class="panel-body">
          <div class="plan-include">
            6 Containers Included
            <div class="plan-include-subheader">
              $0.08/hour per container
            </div>
          </div>

          <div class="plan-include">
            1024 GB Disk Storage Included
            <div class="plan-include-subheader">
              $0.0005/hour per GB
            </div>
          </div>

          <div class="plan-include">
            4 Domains Included
            <div class="plan-include-subheader">
              $0.05/hour per domain
            </div>
          </div>

          {{#if isUpgrading}}
            <button class='btn plan-btn' disabled>Upgrading...</button>
          {{else}}
            {{#if (eq model.plan "platform")}}
              <button class='btn plan-btn current' disabled>
                {{fa-icon "check" classNames="success"}}
                Current Plan
              </button>
            {{else}}
              <button class='btn plan-btn btn-primary' {{action 'upgrade' 'platform'}}>Upgrade to Platform</button>
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-xs-4">
      <div class='panel plan-panel'>
        <div class="panel-heading"><h5>HIPAA Compliance</h5></div>
        <div class="panel-heading">
          <p>
            {{fa-icon "check" classNames="primary"}}
            HIPAA-compliant/PHI-ready private cloud
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Signed Business Associate Agreement
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Managed HIPAA Compliance
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Dedicated HIPAA specialist
          </p>
          <p>
            {{fa-icon "check" classNames="primary"}}
            Risk, Policy, Security, Training Compliance Engines
            and much more
          </p>
        </div>
        <div class="panel-body">
          <div class="plan-hero">
            <div>
              Contact us about managed HIPAA compliance
            </div>
          </div>
          <button class="btn plan-btn btn-primary" {{action 'requestUpgrade'}}>
            Ask about our HIPAA compliant plans
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


