<form>
  {{#if errors}}
    <div class="alert alert-danger">
      {{errors}}
      <button {{action "clearMessages"}} type="button" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {{/if}}

  {{#each-property properties=locationProperties as |key property type|}}
    <div class="form-group">
      <label>{{property.title}}</label>
      {{component (concat 'schema-field-' type) key=key property=property document=location}}
    </div>
  {{/each-property}}

  <button class="btn btn-primary" type="submit" {{action "addLocation" location}}>Add</button>
</form>