<main class="layout-content">
  <header>
    <div class="container">
      <h1 class="dashboard-header">{{model.organization.name}}</h1>
    </div>
  </header>


  <div class="container">
  {{#if model.requiresSPD}}
    {{#spd-notice organizationProfile=model.organizationProfile}}
      {{#if (eq model.organizationProfile.currentStep 'start')}}
        <h1>Configure Your Security Program</h1>
        <h2>Tell us more about your information security management program</h2>
      {{else}}
        <h1>Resume Security Program Configuration</h1>
        <h2>Tell us more about your information security management program</h2>
      {{/if}}
    {{/spd-notice}}
  {{else}}
    {{#if model.allAlerts}}
      <section class="compliance-section">
        <header>
          <span class="header-title">Compliance Alerts</span>
          <span class="badge">{{model.alertCount}}</span>
        </header>

        <div class="row">
          <div class="col-xs-12">
            {{compliance-alerts}}
          </div>
        </div>
      </section>
    {{/if}}
  {{/if}}

    <section class="compliance-section {{if model.requiresSPD 'spd-required' 'spd-complete'}}">
      <header>
        <span class="header-title">Compliance Engines</span>
      </header>

      <div class="row">
        <div class="col-xs-6">
          {{#if complianceStatus.authorizationContext.enabledFeatures.risk}}
            {{#link-to 'risk-assessments' class="panel-link risk"}}
              {{compliance-engine-status status=model.risk class="risk-engine-status"}}
            {{/link-to}}
          {{else}}
            {{#link-to-aptible app="compliance" path="risk" class="panel-link risk"}}
              {{compliance-engine-status status=model.risk class="risk-engine-status"}}
            {{/link-to-aptible}}
          {{/if}}
        </div>

        <div class="col-xs-6">
          {{#if complianceStatus.authorizationContext.enabledFeatures.policy}}
            {{#link-to 'policy' class="panel-link policy"}}
              {{compliance-engine-status status=model.policy class="policy-engine-status"}}
            {{/link-to}}
          {{else}}
            {{#link-to-aptible app='compliance' path='policy' class="panel-link policy"}}
              {{compliance-engine-status status=model.policy class="policy-engine-status"}}
            {{/link-to-aptible}}
          {{/if}}
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          {{#if complianceStatus.authorizationContext.enabledFeatures.security}}
            {{#link-to 'security' class="panel-link security"}}
              {{compliance-engine-status status=model.security class="security-engine-status"}}
            {{/link-to}}
          {{else}}
            {{#link-to-aptible app='compliance' path='security' class="panel-link security"}}
              {{compliance-engine-status status=model.security class="security-engine-status"}}
            {{/link-to-aptible}}
          {{/if}}
        </div>

        <div class="col-xs-6">
          {{#link-to 'training' class="panel-link" class="panel-link training"}}
            {{compliance-engine-status status=model.training class="training-engine-status"}}
          {{/link-to}}
        </div>
      </div>
    </section>

    {{compliance-dashboard-nav complianceStatus=model}}
  </div>
</main>