 <div class="panel panel-default vhost status-{{vhost.status}} provisioned-{{vhost.isProvisioned}} internal-{{vhost.internal}} default-{{vhost.isDefault}}">
  <div class="panel-heading with-actions">
    <h3>
      {{#if vhost.isProvisioning}}
        {{#bs-tooltip placement="bottom" title='Provisioning...' bs-container=false}}
          <i class="fa fa-spin fa-spinner success"></i>
        {{/bs-tooltip}}
      {{/if}}

      {{#if vhost.isDeprovisioning}}
        {{#bs-tooltip placement="bottom" title='Deprovisioning...' bs-container=false}}
        <i class="fa fa-spin fa-spinner danger"></i>
        {{/bs-tooltip}}
      {{/if}}

      <span class="resource-title vhost-virtualdomain">{{vhost.commonName}}</span>
      <i class="fa fa-arrow-right"></i>
      <span class="resource-subttle vhost-service">{{vhost.service.processType}} Service</span>
    </h3>

    <div class="panel-heading-actions">
      {{#if vhost.isGeneric}}
        {{#if vhost.isProvisioned}}
          {{link-to 'Edit' 'app.vhosts.edit' vhost.id class="btn btn-default btn-xs"}}
        {{/if}}
      {{/if}}

      {{#if vhost.isDefault}}
        <span class="label label-default">Default</span>
      {{/if}}

      {{#if vhost.isAcme}}
        <span class="label label-success">Managed HTTPS</span>
      {{/if}}

      {{#if vhost.isProvisioned}}
        {{delete-vhost vhost=vhost startDeletion="startDeletion"
                                   failDeletion="failDeletion"
                                   completeDeletion="completeDeletion"}}
      {{/if}}
    </div>
  </div>

  <div class="panel-body">
    <div class="resource-metadata-item">
      {{#if vhost.hasActionRequired}}
        {{vhost-action-required vhost=vhost}}
      {{else}}
        {{#if vhost.displayHost}}
          <h5 class="resource-metadata-title">
            {{#if vhost.internal}}
              Internal
            {{else}}
              External
            {{/if}}

            Hostname
          </h5>
          <h3 class="resource-metadata-value">
            <div class="external-host">
              {{vhost.displayHost}}
              {{click-to-copy text=vhost.displayHost}}
            </div>
          </h3>
        {{else}}
          {{#if vhost.failedToProvision}}
            <h3 class="resource-metadata-value">
              <span class="danger failed-warning-message">
                {{vhost.commonName}} failed to provision, please{{#link-to-aptible app="contact"}}contact Support{{/link-to-aptible}}
              </span>
            </h3>
          {{else}}
          <h3 class="resource-metadata-value">
            {{vhost.commonName}} is {{vhost.status}}...
          </h3>
          {{/if}}
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>
