<header class="resource-header">
  <div class="container">

    {{#link-to 'apps' model.stack class="resource-breadcrumb"}}
      <i class="fa fa-chevron-left"></i>
      {{model.stack.handle}}
    {{/link-to}}

    <h1 class="resource-title">{{model.handle}}</h1>

    <ul class="resource-metadata">
      {{#if model.isDeprovisioned}}
        <li class="resource-metadata-item">
          <h5 class="resource-metadata-title">Status</h5>
          <h3 class="resource-metadata-value"><span class="danger">Deprovisioned</span></h3>
        </li>
      {{else}}

        {{#if model.stack.allowPHI}}
          <li class="resource-metadata-item">
            <h5 class="resource-metadata-title">Dedicated Stack</h5>
            <h3 class="resource-metadata-value"><span class="success">PHI Ready</span></h3>
          </li>
        {{else}}
          <li class="resource-metadata-item">
            <h5 class="resource-metadata-title">Shared Stack</h5>
            <h3 class="resource-metadata-value"><span class="danger">Not Ready for PHI</span></h3>
          </li>
        {{/if}}

        {{#if model.lastDeployOperation}}
          <li class="resource-metadata-item last-deployed-by">
            <h5 class="resource-metadata-title">Last Deployed By</h5>
            <h3 class="resource-metadata-value">
              {{model.lastDeployOperation.userName}}
              on
              {{format-date model.lastDeployOperation.createdAt}}
            </h3>
          </li>
        {{/if}}

        {{#if model.currentImage}}
          <li class="resource-metadata-item current-git-ref">
            <h5 class="resource-metadata-title">Current Git Ref</h5>
            <h3 class="resource-metadata-value">{{model.currentImage.gitRef}}</h3>
          </li>
        {{/if}}
      {{/if}}

    </ul>
  </div>
</header>
