<div class="panel panel-default">
  <div class="panel-heading">
    <h3>SSH Keys</h3>
  </div>
  <div class="ssh-keys">
    {{#each validKeys as |sshKey|}}
    <div class="ssh-key-item">
      <div class="ssh-key-info">
        <label>{{sshKey.name}}</label>
        <div class="ssh-key-fingerprint">{{sshKey.publicKeyFingerprint}}</div>
      </div>
      <div class="ssh-key-nav app-list-nav">
        <ul class="nav nav-pills sub-nav-tabs">
          <li>
            <a class="delete-key" {{action 'deleteKey' sshKey}}>
              <i class="fa fa-times"></i>
              <span class="button-label">Delete SSH Key</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="panel-body">
    {{#if error}}
      <div class="alert alert-warning">
        {{error}}
      </div>
    {{/if}}

    {{#if newKey}}
      <h4>Add SSH Key</h4>
      <form>
        <div class="form-group">
          <label class="block" for="name">SSH Key Name</label>
          {{input value=newKey.name name="name" class="form-control"}}
        </div>
        <div class="form-group">
          <label>Set your public SSH key</label>
          {{textarea value=newKey.sshPublicKey name="ssh-public-key" class="form-control monospace" cols="40" rows="10"}}
        </div>

        <button {{action 'cancelSaveKey'}} {{bind-attr disabled=newKey.isSaving}}
                class="nevermind btn btn-lg-text btn-default pull-left"
                type="button">
          Nevermind
        </button>

        <button {{action 'saveKey'}} {{bind-attr disabled=newKey.isSaving}}
                class="btn btn-lg-text btn-primary confirm-action"
                type="submit">
          {{#if newKey.isSaving}}Saving{{else}}Save new SSH key{{/if}}
        </button>
      </form>
    {{else}}
      {{#if model.length}}
      <button class='btn btn-primary' {{action 'addKey'}}>Add another SSH key</button>
      {{else}}
      <button class='btn btn-primary' {{action 'addKey'}}>Add your first SSH key</button>
      {{/if}}
    {{/if}}
  </div>
</div>
