{{#unless session.currentUser.verified}}
  <div class="activate-notice">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1>Confirm your email</h1>
        <h2>
          Before adding an SSH key, you must confirm your email address. Check your email for instructions.
        </h2>
      </div>
    </div>
  </div>
{{/unless}}

<div class="row">
  <div class="col-xs-6">
    {{#if sortedKeys}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>SSH Keys</h3>
        </div>
        <div class="ssh-keys">
          {{#each sortedKeys as |sshKey|}}
          <div class="ssh-key-item">
            <div class="ssh-key-info">
              <label>{{sshKey.name}}</label>
              <div class="ssh-key-fingerprint">{{sshKey.publicKeyFingerprint}}</div>
            </div>
            <div class="ssh-key-nav app-list-nav">
              <ul class="nav nav-pills sub-nav-tabs">
                <li>
                  <a class="btn delete-key" {{action 'deleteKey' sshKey}}>
                    <i class="fa fa-times"></i>
                    <span class="button-label">Delete SSH Key</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if error}}
      <div class="panel-body">
        <div class="alert alert-warning">
          {{error}}
        </div>
      </div>
    {{/if}}

    {{#if newKey}}
      <form>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Add New SSH key</h3>
          </div>
          <div class="panel-body">

            <div class="form-group">
              <label class="block" for="name">SSH key name</label>
              {{input value=newKey.name name="name" class="form-control"}}
            </div>
            <div class="form-group">
              <label>Public SSH key</label>
              {{textarea value=newKey.sshPublicKey name="ssh-public-key" class="form-control monospace" cols="40" rows="10"}}
            </div>

          </div>
        </div>
        <div class="resource-actions">
          <button {{action 'cancelSaveKey'}} disabled={{newKey.isSaving}}
                  class="nevermind btn btn-lg-text btn-default pull-left"
                  type="reset">
            Cancel
          </button>

          <button {{action 'saveKey'}} disabled={{newKey.isSaving}}
                  class="btn btn-lg-text btn-primary confirm-action"
                  type="submit">
            {{#if newKey.isSaving}}Saving{{else}}Save new SSH key{{/if}}
          </button>
        </div>
    </form>
    {{else}}
      {{#if session.currentUser.verified}}
        <div class="resource-actions">
          {{#if model.length}}
            <button class='btn btn-primary' {{action 'addKey'}}>Add Another SSH key</button>
          {{else}}
            <button class='btn btn-primary' {{action 'addKey'}}>Add First SSH key</button>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}

  </div>
</div>
