<h1>{{organization.name}} Roles: {{model.name}}</h1>

<div class="panel">
  <div class="panel-heading">
    <h3>Settings</h3>
  </div>

  <div class="panel-body">
    {{partial 'role/form'}}
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h3>Members</h3>
  </div>

  <div class="panel-body">
    <form role='form'>
      <div class="form-group">
        <label>Add member</label>
        {{user-select users=nonmembers selected=invitedUser}}
        <button {{action "inviteUser" invitedUser}}>Add</button>
      </div>

      <div class="form-group">
        <label>Invite by email</label>
        {{input name='invite-by-email' value=invitedEmail}}
        <button {{action "inviteByEmail" invitedEmail}}>Invite</button>
      </div>

      <div class="role-members">
        {{#each model.users as |user|}}
          <div class="form-group">
            <label>{{user.name}}</label>
            <button {{action "removeUser" user}}>Remove</button>
          </div>
        {{/each}}
      </div>

      <div class="role-invitations">
        {{#each model.invitations as |invitation|}}
          <div class="form-group">
            <label>{{invitation.email}}</label>
            <button {{action "resendInvitation" invitation}}>Resend Invitation</button>
            <button {{action "removeInvitation" invitation}}>Remove</button>
          </div>
        {{/each}}
      </div>
    </form>
  </div>
</div>
