{{#each model as |vhost|}}
  <div class="panel panel-default panel-subdued vhost">
    <div class="panel-heading with-actions">
      <h3>
        <span class="vhost-virtualdomain">{{vhost.virtualDomain}}</span>
        <i class="fa fa-arrow-right"></i>
        <span class="vhost-service">{{vhost.service.processType}} Service</span>
      </h3>

      <div class="panel-heading-actions">
        {{#if vhost.isDefault}}
          <span class="label label-default">Default</span>
        {{else}}
         {{link-to 'Edit' 'app.vhosts.edit' vhost class="btn btn-default btn-xs"}}
          <a class="btn btn-default btn-xs" href="#" {{action 'delete' vhost}}>
            Delete
          </a>
        {{/if}}
      </div>
    </div>

    <div class="panel-body">
      <div class="resource-metadata-item">
        <h5 class="resource-metadata-title">Hostname</h5>
        <h3 class="resource-metadata-value">
          <div class="external-host">
            {{vhost.externalHost}}
          </div>
        </h3>
      </div>
    </div>
  </div>
{{/each}}


<div class="resource-list-actions">
  {{link-to 'Add Domain' 'app.vhosts.new' class="btn btn-primary"}}
</div>
