{{#if error}}
  {{#bs-alert alert="warning" as |component|}}
    {{#bs-alert-dismiss target=component}}
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{/bs-alert-dismiss}}

    <p>{{error}}</p>
  {{/bs-alert}}
{{/if}}

{{#if hasActionRequired}}
  <div class="sort-group active-domains">
    {{#if showSortableHeader}}
      <h5 class="sort-header">Endpoints With Action Required</h5>
    {{/if}}
    {{#each actionRequiredDomains as |vhost|}}
      <div class="row">
        <div class="col-xs-12">
          {{partial 'app/domain'}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if hasActive}}
  <div class="sort-group active-domains">
    {{#if showSortableHeader}}
      <h5 class="sort-header">Provisioned Endpoints</h5>
    {{/if}}
    {{#each activeDomains as |vhost|}}
      <div class="row">
        <div class="col-xs-12">
          {{partial 'app/domain'}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

{{#if hasPending}}
  <div class="sort-group pending-domains">
    <h5 class="sort-header">Provisioning Endpoints</h5>
    {{#each pendingDomains as |vhost|}}
      <div class="row">
        <div class="col-xs-12">
          {{partial 'app/domain'}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}


{{#if hasDeprovisioned}}
  <div class="sort-group deprovisioned-domains">
    <h5 class="sort-header">Deprovisioned Endpoints</h5>
    {{#each deprovisionedDomains as |vhost|}}
      <div class="row">
        <div class="col-xs-12">
          {{partial 'app/domain'}}
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}

<div class="resource-list-actions">
  {{link-to 'Add Endpoint' 'app.vhosts.new' class="btn btn-primary"}}
</div>
