<div class="row">
  <div class="col-xs-6">
    <form class="create-log" {{action 'createLog' model on='submit'}}>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>Create a new log drain</h3>
        </div>
        <div class="panel-body">
          {{#if model.errors.length}}
          <div class="alert alert-warning">
            {{#each model.errors.messages as |message|}}
            <p>{{message}}</p>
            {{/each}}
          </div>
          {{/if}}

          <div class="form-group">
            <label class="block" for="drain-handle">Handle</label>
            {{handle-input class="form-control" value=model.handle name='handle' autofocus=true}}
          </div>
          <div class="form-group">
            <label class="block" for="drain-type">Type</label>
            <div class="radio">
              <div>
                {{#radio-button value="syslog_tls_tcp" groupValue=model.drainType name="drain-type"}}
                Syslog TLS TCP
                {{/radio-button}}
              </div>
              <div>
                {{#radio-button value="elasticsearch" groupValue=model.drainType name="drain-type"}}
                Elasticsearch
                {{/radio-button}}
              </div>
            </div>
          </div>

          {{#if isSyslogDrain }}
          <div class="form-group">
            <label class="block" for="drain-host">Host</label>
            {{input name='drain-host' value=model.drainHost class="form-control"}}
          </div>
          <div class="">
            <label class="block" for="drain-port">Port</label>
            {{input name='drain-port' value=model.drainPort class="form-control"}}
          </div>
          {{else}}
          {{ database-selector databases=esDatabases select='setDrainFromDatabase' }}
          {{/if}}
        </div>
      </div>
      <div class="resource-actions">
        <button {{action 'cancel' model}} class='btn btn-lg-text btn-default' type="reset">Cancel</button>
        <button {{action 'createLog' model}} disabled={{model.isSaving}} class='btn btn-primary' type="submit">
          {{#if model.isSaving}}
          Saving
          {{else}}
          Save Log Drain
          {{/if}}
        </button>
      </div>
    </form>

  </div>
</div>
