{{partial 'organization/roles-header'}}

<div class="layout-container">
  <div class="row">
    {{#each ownerRole as |role|}}
      <div class="col-xs-12">
        {{#if isAccountOwner}}
          {{#link-to "role" role title=(concat-params "Edit " role.name " Permissions") classNames="panel-link"}}
            {{partial 'organization/role'}}
          {{/link-to}}
        {{else}}
          {{partial 'organization/role'}}
        {{/if}}
      </div>
    {{/each}}
  </div>

  {{role-type-nav
      organization=organization
      billingDetail=billingDetail
      currentUser=session.currentUser
      currentUserRoles=currentUserRoles}}

  <div class="row">
    {{#each platformOwnerRole as |role|}}
      <div class="col-xs-12">
        {{#aptible-ability user=session.currentUser scope='manage' permittable=organization as |hasAbility|}}
          {{#if hasAbility}}
            {{#link-to 'role' role title=(concat-params "Edit " role.name " Permissions") classNames="panel-link"}}
              {{partial 'organization/role'}}
            {{/link-to}}
          {{else}}
            {{partial 'organization/role'}}
          {{/if}}
        {{/aptible-ability}}
      </div>
    {{/each}}

    {{#each platformUserRoles as |role|}}
      <div class="col-xs-12">
        {{#aptible-ability user=session.currentUser scope='manage' role=role permittable=organization as |hasAbility|}}
          {{#if hasAbility}}
            {{#link-to 'role' role title=(concat-params "Edit " role.name " Permissions") classNames="panel-link"}}
              {{partial 'organization/role'}}
            {{/link-to}}
          {{else}}
            {{partial 'organization/role'}}
          {{/if}}
        {{/aptible-ability}}
      </div>
    {{/each}}
  </div>
</div>
