<form role="form">
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3>Create a new app</h3>
        </div>
        <div class="panel-body">
          {{#unless model.isValid}}
            <div class="alert alert-warning fade in">
              <a class="close" data-dismiss="alert">×</a>
              {{#each model.errors.messages as |message|}}
                <p>{{message}}</p>
              {{/each}}
            </div>
          {{/unless}}

          <div class="form-group-last">
            <label class="block">
              App handle
              <span class="label-helper">Lowercase alphanumerics, periods, and dashes only</span>
            </label>
            {{handle-input class="form-control" update=(action (mut model.handle)) value=model.handle name='handle' autofocus=true}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resource-actions">
    {{#if showCancelButton}}
      <button class="btn btn-default" type="reset" {{action 'cancel'}}>
        Cancel
      </button>
    {{/if}}
    <button class="btn btn-primary" type="submit" {{action 'create'}} disabled={{model.isSaving}}>
      {{#if model.isSaving}}
        <i class='fa fa-spin fa-spinner'></i> Saving...
      {{else}}
        Save App
      {{/if}}
    </button>
  </div>
</form>
