<header class="navbar navbar-static-top primary-nav-header">
  <div class="container">
    <div class="navbar-header">
      {{link-to "Aptible" "index" class="navbar-brand"}}
    </div>
    <nav>
    <ul class="nav nav-pills navbar-right user-nav">
      <li>
        <a href="https://dashboard.aptible.com/organizations/df0ee681-9e02-4c28-8916-3b215d539b08">
          Aptible
        </a>
      </li>

      <li class="dropdown current-user">
      <div class="btn-group">
        {{#dashboard-dropdown title=session.currentUser.name defaultPath="index"}}
          {{#dashboard-dropdown-item}}
            {{link-to "Dashboard" "index"}}
            <a href="https://dashboard.aptible.com/settings">Settings</a>
          {{/dashboard-dropdown-item}}
          {{dashboard-dropdown-divider}}
          {{#dashboard-dropdown-item}}
            {{link-to "Logout" "logout"}}
          {{/dashboard-dropdown-item}}
        {{/dashboard-dropdown}}
      </div>
      </li>

    </ul>
    <ul class="nav nav-pills navbar-right primary-nav">
      <li>
        {{link-to "Apps" "apps.index"}}
      </li>
      <li>
        {{link-to "Databases" "databases.index"}}
      </li>
      <li>
        <a href="https://dashboard.aptible.com/compliance">Compliance</a>
      </li>
    </ul>
    </nav>
  </div>
</header>
