<div class="error-page">

  <div class="error-body">
    <div class="error-dialog">
      <div class="error-logo"></div>
      <h1 class="error-code">{{title}}</h1>
      <h1>
        {{#if subTitle}}
          {{subTitle}}
        {{else}}
          Hmm...we can't find the page you're looking for.
        {{/if}}
      </h1>

      <h3>
      {{#if message}}
        {{message}} Maybe the URL you visited is no longer valid?
      {{else}}
        Maybe you mistyped the address? If not, the page may have moved.
      {{/if}}
      </h3>
    </div>

    <ul class="error-footer">
      <li>{{link-to 'Apps & Databases' 'index'}}</li>
      <li><a href="http://status.aptible.com">Aptible Status</a></li>
      <li><a href="https://twitter.com/aptiblestatus">@aptiblestatus</a></li>
      <li>{{#link-to-aptible app="contact"}}Contact Support{{/link-to-aptible}}</li>
    </ul>

    <a class="circle-icon" href="https://www.aptible.com"></a>

  </div>
</div>
