<form role="form">
  <div class="row">
    <div class="col-xs-8">
      <div class="panel panel-default ">
        <div class="panel-heading">
          <h3>Impersonate a user</h3>
        </div>
        {{#if model.error}}
          {{#bs-alert alert="danger"}}
            {{model.error}}
          {{/bs-alert}}
        {{/if}}
        <div class="panel-body">
          <div class="form-group">
            <label>User email </label>
            {{input type="email"
            name="email"
            value=model.email
            autofocus=true
            class="form-control"}}
          </div>
          <div class="form-group">
            <label>Read-write access</label>
            {{input type="checkbox"
              name="read-write"
              checked=model.manage}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="resource-actions">
    <button class="btn btn-primary" type="submit" {{action 'impersonate' model}} disabled={{inProgress}}>
      {{#if inProgress}}
        <i class="fa fa-spin fa-spinner"></i> Please wait
      {{else}}
        Impersonate
      {{/if}}
    </button>
  </div>
</form>
