<div class="panel white-panel">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th>Invited by</th>
        <th>Invited on</th>
        <th class="two-actions"></th>
      </tr>
    </thead>

    <tbody>
      {{#each invitations as |invitation|}}
        <tr>
          <td><strong>{{invitation.email}}</strong></td>
          <td>{{invitation.role.name}}</td>
          <td>{{invitation.inviterName}}</td>
          <td>{{format-date invitation.createdAt}}</td>
          <td class="row-actions two-actions">
            <ul class="row-action-nav">
              <li>
                <a><i class="fa fa-refresh"></i></a>
              </li>
              <li>
                <a><i class="fa fa-times danger"></i></a>
              </li>
            </ul>
          </td>
        </tr>
      {{else}}
        <tr>
          <td class="empty-row" colspan="4">No Pending Invitations.  Add one below.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
